In [1]:
import pandas as pd

In [3]:
#Read Master Data List of all teams that played in each EPL season and create dataframe for each season
mtl = pd.read_csv('./data/master_team_list.csv')
mtl1617 = mtl.loc[(mtl['season'] == '2016-17')].copy()
mtl1718 = mtl.loc[(mtl['season'] == '2017-18')].copy()
mtl1819 = mtl.loc[(mtl['season'] == '2018-19')].copy()
mtl1920 = mtl.loc[(mtl['season'] == '2019-20')].copy()
mtl2021 = mtl.loc[(mtl['season'] == '2020-21')].copy()
mtl2122 = mtl.loc[(mtl['season'] == '2021-22')].copy()
mtl1617.head()

    season  team       team_name
0  2016-17     1         Arsenal
1  2016-17     2     Bournemouth
2  2016-17     3         Burnley
3  2016-17     4         Chelsea
4  2016-17     5  Crystal Palace

In [4]:
#Read data for players in the league each season
players_2016 = pd.read_csv('./data/2016-17/players_raw.csv')
players_2017 = pd.read_csv('./data/2017-18/players_raw.csv')
players_2018 = pd.read_csv('./data/2018-19/players_raw.csv')
players_2019 = pd.read_csv('./data/2019-20/players_raw.csv')
players_2020 = pd.read_csv('./data/2020-21/players_raw.csv')
players_2021 = pd.read_csv('./data/2021-22/players_raw.csv')
players_2021.head(2)

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,69,100,100,1,80201,None,NaN,0,...,60,10,80974,0,205566,0,0.0,2.2,Leno,0
1,0,0,0,0,0,0,115918,None,NaN,0,...,19,0,19017,0,81363,0,0.0,0.0,Rúnarsson,0

In [5]:
players_2017.shape

(647, 58)

In [6]:
players_2017.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'news_added', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'threat', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'yellow_cards'],
      dtype='object')

In [5]:
# Create the club name for each player in respective seasons using map function.
teams=dict(zip(mtl1617.team, mtl1617.team_name))
players_2016['club_name'] = players_2016['team'].map(teams)

teams=dict(zip(mtl1718.team, mtl1718.team_name))
players_2017['club_name'] = players_2017['team'].map(teams)

teams=dict(zip(mtl1819.team, mtl1819.team_name))
players_2018['club_name'] = players_2018['team'].map(teams)

teams=dict(zip(mtl1920.team, mtl1920.team_name))
players_2019['club_name'] = players_2019['team'].map(teams)

teams=dict(zip(mtl2021.team, mtl2021.team_name))
players_2020['club_name'] = players_2020['team'].map(teams)

teams=dict(zip(mtl2122.team, mtl2122.team_name))
players_2021['club_name'] = players_2021['team'].map(teams)

players_2021[['id', 'first_name', 'second_name', 'web_name', 'club_name', 'team_code', 'team', 'total_points']].head(2)

,id,first_name,second_name,web_name,club_name,team_code,team,total_points
0,1,Bernd,Leno,Leno,Arsenal,3,1,10
1,2,Rúnar Alex,Rúnarsson,Rúnarsson,Arsenal,3,1,0

In [6]:
players_2021.shape

(737, 68)

In [7]:
gw1_1617 = pd.read_csv("./data/2016-17/gws/gw1.csv",encoding='ISO-8859-1')
gw2_1617 = pd.read_csv("./data/2016-17/gws/gw2.csv",encoding='ISO-8859-1')
gw3_1617 = pd.read_csv("./data/2016-17/gws/gw3.csv",encoding='ISO-8859-1')
gw4_1617 = pd.read_csv("./data/2016-17/gws/gw4.csv",encoding='ISO-8859-1')
gw5_1617 = pd.read_csv("./data/2016-17/gws/gw5.csv",encoding='ISO-8859-1')
gw6_1617 = pd.read_csv("./data/2016-17/gws/gw6.csv",encoding='ISO-8859-1')
gw7_1617 = pd.read_csv("./data/2016-17/gws/gw7.csv",encoding='ISO-8859-1')
gw8_1617 = pd.read_csv("./data/2016-17/gws/gw8.csv",encoding='ISO-8859-1')
gw9_1617 = pd.read_csv("./data/2016-17/gws/gw9.csv",encoding='ISO-8859-1')
gw10_1617 = pd.read_csv("./data/2016-17/gws/gw10.csv",encoding='ISO-8859-1')
gw11_1617 = pd.read_csv("./data/2016-17/gws/gw11.csv",encoding='ISO-8859-1')
gw12_1617 = pd.read_csv("./data/2016-17/gws/gw12.csv",encoding='ISO-8859-1')
gw13_1617 = pd.read_csv("./data/2016-17/gws/gw13.csv",encoding='ISO-8859-1')
gw14_1617 = pd.read_csv("./data/2016-17/gws/gw14.csv",encoding='ISO-8859-1')
gw15_1617 = pd.read_csv("./data/2016-17/gws/gw15.csv",encoding='ISO-8859-1')
gw16_1617 = pd.read_csv("./data/2016-17/gws/gw16.csv",encoding='ISO-8859-1')
gw17_1617 = pd.read_csv("./data/2016-17/gws/gw17.csv",encoding='ISO-8859-1')
gw18_1617 = pd.read_csv("./data/2016-17/gws/gw18.csv",encoding='ISO-8859-1')
gw19_1617 = pd.read_csv("./data/2016-17/gws/gw19.csv",encoding='ISO-8859-1')
gw20_1617 = pd.read_csv("./data/2016-17/gws/gw20.csv",encoding='ISO-8859-1')
gw21_1617 = pd.read_csv("./data/2016-17/gws/gw21.csv",encoding='ISO-8859-1')
gw22_1617 = pd.read_csv("./data/2016-17/gws/gw22.csv",encoding='ISO-8859-1')
gw23_1617 = pd.read_csv("./data/2016-17/gws/gw23.csv",encoding='ISO-8859-1')
gw24_1617 = pd.read_csv("./data/2016-17/gws/gw24.csv",encoding='ISO-8859-1')
gw25_1617 = pd.read_csv("./data/2016-17/gws/gw25.csv",encoding='ISO-8859-1')
gw26_1617 = pd.read_csv("./data/2016-17/gws/gw26.csv",encoding='ISO-8859-1')
gw27_1617 = pd.read_csv("./data/2016-17/gws/gw27.csv",encoding='ISO-8859-1')
gw28_1617 = pd.read_csv("./data/2016-17/gws/gw28.csv",encoding='ISO-8859-1')
gw29_1617 = pd.read_csv("./data/2016-17/gws/gw29.csv",encoding='ISO-8859-1')
gw30_1617 = pd.read_csv("./data/2016-17/gws/gw30.csv",encoding='ISO-8859-1')
gw31_1617 = pd.read_csv("./data/2016-17/gws/gw31.csv",encoding='ISO-8859-1')
gw32_1617 = pd.read_csv("./data/2016-17/gws/gw32.csv",encoding='ISO-8859-1')
gw33_1617 = pd.read_csv("./data/2016-17/gws/gw33.csv",encoding='ISO-8859-1')
gw34_1617 = pd.read_csv("./data/2016-17/gws/gw34.csv",encoding='ISO-8859-1')
gw35_1617 = pd.read_csv("./data/2016-17/gws/gw35.csv",encoding='ISO-8859-1')
gw36_1617 = pd.read_csv("./data/2016-17/gws/gw36.csv",encoding='ISO-8859-1')
gw37_1617 = pd.read_csv("./data/2016-17/gws/gw37.csv",encoding='ISO-8859-1')
gw38_1617 = pd.read_csv("./data/2016-17/gws/gw38.csv",encoding='ISO-8859-1')

gw38_1617[['name', 'round']].head()

                name  round
0    Aaron_Cresswell     38
1       Aaron_Lennon     38
2     Aaron_Ramsdale     38
3       Aaron_Ramsey     38
4  Aaron_Wan-Bissaka     38

In [8]:


#import os
 
# assign dataset names
#list_of_csvs = ['gw1', 'gw2', 'gw3', 'gw4', 'gw5', 'gw6', 'gw7', 'gw8', 'gw9', 'gw10', 
#'gw11', 'gw12', 'gw13', 'gw14', 'gw15', 'gw16', 'gw17', 'gw18', 'gw19', 'gw20', 'gw21', 
#'gw22', 'gw23', 'gw24', 'gw25', 'gw26', 'gw27', 'gw28', 'gw29', 'gw30', 'gw31', 'gw32', 
#'gw33', 'gw34', 'gw35', 'gw36', 'gw37', 'gw38']
 
# create empty list
#year_2016 = []
 
# append datasets into the list
#for i in range(len(list_of_csvs)):
 #   temp_df = pd.read_csv("./data/2016-17/gws/"+list_of_csvs[i]+".csv",encoding='ISO-8859-1')
 #   year_2016.append(temp_df)

In [9]:
# Create the  player in respective seasons using map function.
player16_webname=dict(zip(players_2016.id, players_2016.web_name))
player16_clubname=dict(zip(players_2016.web_name, players_2016.club_name))

gw1_1617['web_name'] = gw1_1617['id'].map(player16_webname)
gw1_1617['clubname'] = gw1_1617['web_name'].map(player16_clubname)

gws = [gw2_1617, gw3_1617, gw4_1617, gw5_1617, gw6_1617, gw7_1617, gw8_1617, gw9_1617, gw10_1617, 
gw11_1617, gw12_1617, gw13_1617, gw14_1617, gw15_1617, gw16_1617, gw17_1617, gw18_1617, gw19_1617, gw20_1617,
gw21_1617, gw22_1617, gw23_1617, gw24_1617, gw25_1617, gw26_1617, gw27_1617, gw28_1617, gw29_1617, gw30_1617,
gw31_1617, gw32_1617, gw33_1617, gw34_1617, gw35_1617, gw36_1617, gw37_1617, gw38_1617]

#all_gws_2016 = pd.concat(gws, axis=0, ignore_index=True)
gws_2016 = pd.concat(gws)
gws_2016.shape

gw_player16_clubname=dict(zip(gw1_1617.name, gw1_1617.clubname))
gws_2016['clubname'] = gws_2016['name'].map(gw_player16_clubname)
all_gw_webname = dict(zip(gw1_1617.name, gw1_1617.web_name))
gws_2016['web_name'] = gws_2016['name'].map(all_gw_webname)

gws1 = [gw1_1617, gws_2016]

all_gws_2016 = pd.concat(gws1)

In [10]:
#Deal with null values and 

all_gws_2016['year'] = all_gws_2016.apply(lambda x: "2016-17", axis=1)
all_gws_2016.drop('web_name', axis=1, inplace=True)
all_gws_2016.dropna(inplace=True)

# Create the name of the opponent club for each player in respective seasons using map function.
teams=dict(zip(mtl1617.team, mtl1617.team_name))
all_gws_2016['opponent_name'] = all_gws_2016['opponent_team'].map(teams)
all_gws_2016.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'clubname',
       'year', 'opponent_name'],
      dtype='object')

In [11]:
all_gws_2016[['id', 'name', 'clubname', 'year', 'round', 'opponent_name']].head()

    id                name  clubname     year  round opponent_name
0  454     Aaron_Cresswell  West Ham  2016-17      1       Chelsea
1  142        Aaron_Lennon   Everton  2016-17      1         Spurs
2   16        Aaron_Ramsey   Arsenal  2016-17      1     Liverpool
3  482  Abdoulaye_Doucouré   Watford  2016-17      1   Southampton
4   80   Abdul Rahman_Baba   Chelsea  2016-17      1      West Ham

In [12]:
all_gws_2016.groupby(['minutes']).size().sort_values(ascending=False).head()

minutes
0     10538
90     5802
45      201
1       114
82       69
dtype: int64

In [13]:
all_gws_2016.shape

(19911, 58)

2017-2018

In [14]:
gw1_1718 = pd.read_csv("./data/2017-18/gws/gw1.csv",encoding='ISO-8859-1')
gw2_1718 = pd.read_csv("./data/2017-18/gws/gw2.csv",encoding='ISO-8859-1')
gw3_1718 = pd.read_csv("./data/2017-18/gws/gw3.csv",encoding='ISO-8859-1')
gw4_1718 = pd.read_csv("./data/2017-18/gws/gw4.csv",encoding='ISO-8859-1')
gw5_1718 = pd.read_csv("./data/2017-18/gws/gw5.csv",encoding='ISO-8859-1')
gw6_1718 = pd.read_csv("./data/2017-18/gws/gw6.csv",encoding='ISO-8859-1')
gw7_1718 = pd.read_csv("./data/2017-18/gws/gw7.csv",encoding='ISO-8859-1')
gw8_1718 = pd.read_csv("./data/2017-18/gws/gw8.csv",encoding='ISO-8859-1')
gw9_1718 = pd.read_csv("./data/2017-18/gws/gw9.csv",encoding='ISO-8859-1')
gw10_1718 = pd.read_csv("./data/2017-18/gws/gw10.csv",encoding='ISO-8859-1')
gw11_1718 = pd.read_csv("./data/2017-18/gws/gw11.csv",encoding='ISO-8859-1')
gw12_1718 = pd.read_csv("./data/2017-18/gws/gw12.csv",encoding='ISO-8859-1')
gw13_1718 = pd.read_csv("./data/2017-18/gws/gw13.csv",encoding='ISO-8859-1')
gw14_1718 = pd.read_csv("./data/2017-18/gws/gw14.csv",encoding='ISO-8859-1')
gw15_1718 = pd.read_csv("./data/2017-18/gws/gw15.csv",encoding='ISO-8859-1')
gw16_1718 = pd.read_csv("./data/2017-18/gws/gw16.csv",encoding='ISO-8859-1')
gw17_1718 = pd.read_csv("./data/2017-18/gws/gw17.csv",encoding='ISO-8859-1')
gw18_1718 = pd.read_csv("./data/2017-18/gws/gw18.csv",encoding='ISO-8859-1')
gw19_1718 = pd.read_csv("./data/2017-18/gws/gw19.csv",encoding='ISO-8859-1')
gw20_1718 = pd.read_csv("./data/2017-18/gws/gw20.csv",encoding='ISO-8859-1')
gw21_1718 = pd.read_csv("./data/2017-18/gws/gw21.csv",encoding='ISO-8859-1')
gw22_1718 = pd.read_csv("./data/2017-18/gws/gw22.csv",encoding='ISO-8859-1')
gw23_1718 = pd.read_csv("./data/2017-18/gws/gw23.csv",encoding='ISO-8859-1')
gw24_1718 = pd.read_csv("./data/2017-18/gws/gw24.csv",encoding='ISO-8859-1')
gw25_1718 = pd.read_csv("./data/2017-18/gws/gw25.csv",encoding='ISO-8859-1')
gw26_1718 = pd.read_csv("./data/2017-18/gws/gw26.csv",encoding='ISO-8859-1')
gw27_1718 = pd.read_csv("./data/2017-18/gws/gw27.csv",encoding='ISO-8859-1')
gw28_1718 = pd.read_csv("./data/2017-18/gws/gw28.csv",encoding='ISO-8859-1')
gw29_1718 = pd.read_csv("./data/2017-18/gws/gw29.csv",encoding='ISO-8859-1')
gw30_1718 = pd.read_csv("./data/2017-18/gws/gw30.csv",encoding='ISO-8859-1')
gw31_1718 = pd.read_csv("./data/2017-18/gws/gw31.csv",encoding='ISO-8859-1')
gw32_1718 = pd.read_csv("./data/2017-18/gws/gw32.csv",encoding='ISO-8859-1')
gw33_1718 = pd.read_csv("./data/2017-18/gws/gw33.csv",encoding='ISO-8859-1')
gw34_1718 = pd.read_csv("./data/2017-18/gws/gw34.csv",encoding='ISO-8859-1')
gw35_1718 = pd.read_csv("./data/2017-18/gws/gw35.csv",encoding='ISO-8859-1')
gw36_1718 = pd.read_csv("./data/2017-18/gws/gw36.csv",encoding='ISO-8859-1')
gw37_1718 = pd.read_csv("./data/2017-18/gws/gw37.csv",encoding='ISO-8859-1')
gw38_1718 = pd.read_csv("./data/2017-18/gws/gw38.csv",encoding='ISO-8859-1')

gw38_1718[['name', 'round']].head()

              name  round
0  Aaron_Cresswell     38
1     Aaron_Lennon     38
2       Aaron_Mooy     38
3   Aaron_Ramsdale     38
4     Aaron_Ramsey     38

In [15]:
# Create the  player in respective seasons using map function.
player17_webname=dict(zip(players_2017.id, players_2017.web_name))
player17_clubname=dict(zip(players_2017.web_name, players_2017.club_name))

gw1_1718['web_name'] = gw1_1718['id'].map(player17_webname)
gw1_1718['clubname'] = gw1_1718['web_name'].map(player17_clubname)

gws = [gw2_1718, gw3_1718, gw4_1718, gw5_1718, gw6_1718, gw7_1718, gw8_1718, gw9_1718, gw10_1718, 
gw11_1718, gw12_1718, gw13_1718, gw14_1718, gw15_1718, gw17_1718, gw17_1718, gw18_1718, gw19_1718, gw20_1718,
gw21_1718, gw22_1718, gw23_1718, gw24_1718, gw25_1718, gw26_1718, gw27_1718, gw28_1718, gw29_1718, gw30_1718,
gw31_1718, gw32_1718, gw33_1718, gw34_1718, gw35_1718, gw36_1718, gw37_1718, gw38_1718]

#all_gws_2017 = pd.concat(gws, axis=0, ignore_index=True)
gws_2017 = pd.concat(gws)
gws_2017.shape

gw_player17_clubname=dict(zip(gw1_1718.name, gw1_1718.clubname))
gws_2017['clubname'] = gws_2017['name'].map(gw_player17_clubname)
all_gw_webname = dict(zip(gw1_1718.name, gw1_1718.web_name))
gws_2017['web_name'] = gws_2017['name'].map(all_gw_webname)

gws1 = [gw1_1718, gws_2017]

all_gws_2017 = pd.concat(gws1)

In [16]:
#Deal with null values and 

all_gws_2017['year'] = all_gws_2017.apply(lambda x: "2017-18", axis=1)
all_gws_2017.drop('web_name', axis=1, inplace=True)
all_gws_2017.dropna(inplace=True)

# Create the name of the opponent club for each player in respective seasons using map function.
teams=dict(zip(mtl1718.team, mtl1718.team_name))
all_gws_2017['opponent_name'] = all_gws_2017['opponent_team'].map(teams)
all_gws_2017.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'clubname',
       'year', 'opponent_name'],
      dtype='object')

In [18]:
all_gws_2017[['id', 'name', 'clubname', 'year', 'round', 'opponent_name', 'was_home']].head()

,id,name,clubname,year,round,opponent_name,was_home
0,443,Aaron_Cresswell,West Ham,2017-18,1,Man Utd,False
1,153,Aaron_Lennon,Burnley,2017-18,1,Stoke,True
2,172,Aaron_Mooy,Huddersfield,2017-18,1,Crystal Palace,False
3,18,Aaron_Ramsey,Arsenal,2017-18,1,Leicester,True
4,414,Abdoulaye_Doucouré,Watford,2017-18,1,Liverpool,True

In [20]:
all_gws_2017.groupby(['minutes']).size().sort_values(ascending=False).head()

minutes
0     9692
90    5987
45     197
1      121
16      77
dtype: int64

In [21]:
all_gws_2017.shape

(19418, 58)

2018-19

In [34]:
gw1_1819 = pd.read_csv("./data/2018-19/gws/gw1.csv",encoding='ISO-8859-1')
gw2_1819 = pd.read_csv("./data/2018-19/gws/gw2.csv",encoding='ISO-8859-1')
gw3_1819 = pd.read_csv("./data/2018-19/gws/gw3.csv",encoding='ISO-8859-1')
gw4_1819 = pd.read_csv("./data/2018-19/gws/gw4.csv",encoding='ISO-8859-1')
gw5_1819 = pd.read_csv("./data/2018-19/gws/gw5.csv",encoding='ISO-8859-1')
gw6_1819 = pd.read_csv("./data/2018-19/gws/gw6.csv",encoding='ISO-8859-1')
gw7_1819 = pd.read_csv("./data/2018-19/gws/gw7.csv",encoding='ISO-8859-1')
gw8_1819 = pd.read_csv("./data/2018-19/gws/gw8.csv",encoding='ISO-8859-1')
gw9_1819 = pd.read_csv("./data/2018-19/gws/gw9.csv",encoding='ISO-8859-1')
gw10_1819 = pd.read_csv("./data/2018-19/gws/gw10.csv",encoding='ISO-8859-1')
gw11_1819 = pd.read_csv("./data/2018-19/gws/gw11.csv",encoding='ISO-8859-1')
gw12_1819 = pd.read_csv("./data/2018-19/gws/gw12.csv",encoding='ISO-8859-1')
gw13_1819 = pd.read_csv("./data/2018-19/gws/gw13.csv",encoding='ISO-8859-1')
gw14_1819 = pd.read_csv("./data/2018-19/gws/gw14.csv",encoding='ISO-8859-1')
gw15_1819 = pd.read_csv("./data/2018-19/gws/gw15.csv",encoding='ISO-8859-1')
gw16_1819 = pd.read_csv("./data/2018-19/gws/gw16.csv",encoding='ISO-8859-1')
gw17_1819 = pd.read_csv("./data/2018-19/gws/gw17.csv",encoding='ISO-8859-1')
gw18_1819 = pd.read_csv("./data/2018-19/gws/gw18.csv",encoding='ISO-8859-1')
gw19_1819 = pd.read_csv("./data/2018-19/gws/gw19.csv",encoding='ISO-8859-1')
gw20_1819 = pd.read_csv("./data/2018-19/gws/gw20.csv",encoding='ISO-8859-1')
gw21_1819 = pd.read_csv("./data/2018-19/gws/gw21.csv",encoding='ISO-8859-1')
gw22_1819 = pd.read_csv("./data/2018-19/gws/gw22.csv",encoding='ISO-8859-1')
gw23_1819 = pd.read_csv("./data/2018-19/gws/gw23.csv",encoding='ISO-8859-1')
gw24_1819 = pd.read_csv("./data/2018-19/gws/gw24.csv",encoding='ISO-8859-1')
gw25_1819 = pd.read_csv("./data/2018-19/gws/gw25.csv",encoding='ISO-8859-1')
gw26_1819 = pd.read_csv("./data/2018-19/gws/gw26.csv",encoding='ISO-8859-1')
gw27_1819 = pd.read_csv("./data/2018-19/gws/gw27.csv",encoding='ISO-8859-1')
gw28_1819 = pd.read_csv("./data/2018-19/gws/gw28.csv",encoding='ISO-8859-1')
gw29_1819 = pd.read_csv("./data/2018-19/gws/gw29.csv",encoding='ISO-8859-1')
gw30_1819 = pd.read_csv("./data/2018-19/gws/gw30.csv",encoding='ISO-8859-1')
gw31_1819 = pd.read_csv("./data/2018-19/gws/gw31.csv",encoding='ISO-8859-1')
gw32_1819 = pd.read_csv("./data/2018-19/gws/gw32.csv",encoding='ISO-8859-1')
gw33_1819 = pd.read_csv("./data/2018-19/gws/gw33.csv",encoding='ISO-8859-1')
gw34_1819 = pd.read_csv("./data/2018-19/gws/gw34.csv",encoding='ISO-8859-1')
gw35_1819 = pd.read_csv("./data/2018-19/gws/gw35.csv",encoding='ISO-8859-1')
gw36_1819 = pd.read_csv("./data/2018-19/gws/gw36.csv",encoding='ISO-8859-1')
gw37_1819 = pd.read_csv("./data/2018-19/gws/gw37.csv",encoding='ISO-8859-1')
gw38_1819 = pd.read_csv("./data/2018-19/gws/gw38.csv",encoding='ISO-8859-1')

gw36_1819[['name', 'round', 'total_points']].head(20)

                                      name  round  total_points
0                      Aaron_Cresswell_402     36             0
1                          Aaron_Lennon_83     36             0
2                           Aaron_Mooy_199     36             0
3                          Aaron_Ramsey_14     36             0
4                           Aaron_Rowe_607     36             0
5                    Aaron_Wan-Bissaka_145     36             9
6   Abd-Al-Ali Morakinyo Olaposi_Koiki_564     36             0
7                    Abdelhamid_Sabiri_205     36             0
8                   Abdoulaye_Doucouré_390     36             2
9                     Aboubakar_Kamara_189     36             0
10                 Adalberto_Peñaranda_554     36             0
11                      Adama_Diakhaby_471     36             0
12                        Adama_Traoré_500     36             0
13                        Adam_Lallana_250     36             0
14                         Adam_Masina_386     36             0
15                           Adam_Smith_29     36             0
16                     Ademola_Lookman_170     36             1
17                     Adrian_Mariappa_382     36             1
18    Adrien Sebastian_Perruchet Silva_231     36             0
19      Adrián_San Miguel del Castillo_399     36             0

In [35]:
# Create the  player in respective seasons using map function.
player18_webname=dict(zip(players_2018.id, players_2018.web_name))
player18_clubname=dict(zip(players_2018.web_name, players_2018.club_name))

gw1_1819['web_name'] = gw1_1819['id'].map(player18_webname)
gw1_1819['clubname'] = gw1_1819['web_name'].map(player18_clubname)

gws = [gw2_1819, gw3_1819, gw4_1819, gw5_1819, gw6_1819, gw7_1819, gw8_1819, gw9_1819, gw10_1819, 
gw11_1819, gw12_1819, gw13_1819, gw14_1819, gw15_1819, gw17_1819, gw17_1819, gw18_1819, gw19_1819, gw20_1819,
gw21_1819, gw22_1819, gw23_1819, gw24_1819, gw25_1819, gw26_1819, gw27_1819, gw28_1819, gw29_1819, gw30_1819,
gw31_1819, gw32_1819, gw33_1819, gw34_1819, gw35_1819, gw36_1819, gw37_1819, gw38_1819]

#all_gws_2018 = pd.concat(gws, axis=0, ignore_index=True)
gws_2018 = pd.concat(gws)
gws_2018.shape

gw_player18_clubname=dict(zip(gw1_1819.name, gw1_1819.clubname))
gws_2018['clubname'] = gws_2018['name'].map(gw_player18_clubname)
all_gw_webname = dict(zip(gw1_1819.name, gw1_1819.web_name))
gws_2018['web_name'] = gws_2018['name'].map(all_gw_webname)

gws1 = [gw1_1819, gws_2018]

all_gws_2018 = pd.concat(gws1)

In [36]:
all_gws_2018[['name', 'round', 'total_points']].head(5)

                    name  round  total_points
0    Aaron_Cresswell_402      1             0
1        Aaron_Lennon_83      1             3
2         Aaron_Mooy_199      1             2
3        Aaron_Ramsey_14      1             1
4  Aaron_Wan-Bissaka_145      1            12

In [41]:
#all_gws_2018['name1'] = all_gws_2018['name'].replace("_", " ")
#all_gws_2018[['name', 'name1', 'round', 'total_points']].head(5)

                    name                  name1  round  total_points
0    Aaron_Cresswell_402    Aaron_Cresswell_402      1             0
1        Aaron_Lennon_83        Aaron_Lennon_83      1             3
2         Aaron_Mooy_199         Aaron_Mooy_199      1             2
3        Aaron_Ramsey_14        Aaron_Ramsey_14      1             1
4  Aaron_Wan-Bissaka_145  Aaron_Wan-Bissaka_145      1            12

In [37]:
#Deal with null values and 

all_gws_2018['year'] = all_gws_2018.apply(lambda x: "2018-19", axis=1)
all_gws_2018.drop('web_name', axis=1, inplace=True)
all_gws_2018.dropna(inplace=True)

# Create the name of the opponent club for each player in respective seasons using map function.
teams=dict(zip(mtl1819.team, mtl1819.team_name))
all_gws_2018['opponent_name'] = all_gws_2018['opponent_team'].map(teams)
all_gws_2018.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'clubname',
       'year', 'opponent_name'],
      dtype='object')

In [40]:
all_gws_2018[['id', 'name', 'clubname', 'year', 'round', 'opponent_name', 'total_points']].head()

,id,name,clubname,year,round,opponent_name,total_points
0,402,Aaron_Cresswell_402,West Ham,2018-19,1,Liverpool,0
1,83,Aaron_Lennon_83,Burnley,2018-19,1,Southampton,3
2,199,Aaron_Mooy_199,Huddersfield,2018-19,1,Chelsea,2
3,14,Aaron_Ramsey_14,Arsenal,2018-19,1,Man City,1
4,145,Aaron_Wan-Bissaka_145,Crystal Palace,2018-19,1,Fulham,12

2019-20

In [65]:
#Games only played till GW29 due to the pandemic

gw1_1920 = pd.read_csv("./data/2019-20/gws/gw1.csv",encoding='ISO-8859-1')
gw2_1920 = pd.read_csv("./data/2019-20/gws/gw2.csv",encoding='ISO-8859-1')
gw3_1920 = pd.read_csv("./data/2019-20/gws/gw3.csv",encoding='ISO-8859-1')
gw4_1920 = pd.read_csv("./data/2019-20/gws/gw4.csv",encoding='ISO-8859-1')
gw5_1920 = pd.read_csv("./data/2019-20/gws/gw5.csv",encoding='ISO-8859-1')
gw6_1920 = pd.read_csv("./data/2019-20/gws/gw6.csv",encoding='ISO-8859-1')
gw7_1920 = pd.read_csv("./data/2019-20/gws/gw7.csv",encoding='ISO-8859-1')
gw8_1920 = pd.read_csv("./data/2019-20/gws/gw8.csv",encoding='ISO-8859-1')
gw9_1920 = pd.read_csv("./data/2019-20/gws/gw9.csv",encoding='ISO-8859-1')
gw10_1920 = pd.read_csv("./data/2019-20/gws/gw10.csv",encoding='ISO-8859-1')
gw11_1920 = pd.read_csv("./data/2019-20/gws/gw11.csv",encoding='ISO-8859-1')
gw12_1920 = pd.read_csv("./data/2019-20/gws/gw12.csv",encoding='ISO-8859-1')
gw13_1920 = pd.read_csv("./data/2019-20/gws/gw13.csv",encoding='ISO-8859-1')
gw14_1920 = pd.read_csv("./data/2019-20/gws/gw14.csv",encoding='ISO-8859-1')
gw15_1920 = pd.read_csv("./data/2019-20/gws/gw15.csv",encoding='ISO-8859-1')
gw16_1920 = pd.read_csv("./data/2019-20/gws/gw16.csv",encoding='ISO-8859-1')
gw17_1920 = pd.read_csv("./data/2019-20/gws/gw17.csv",encoding='ISO-8859-1')
gw18_1920 = pd.read_csv("./data/2019-20/gws/gw18.csv",encoding='ISO-8859-1')
gw19_1920 = pd.read_csv("./data/2019-20/gws/gw19.csv",encoding='ISO-8859-1')
gw20_1920 = pd.read_csv("./data/2019-20/gws/gw20.csv",encoding='ISO-8859-1')
gw21_1920 = pd.read_csv("./data/2019-20/gws/gw21.csv",encoding='ISO-8859-1')
gw22_1920 = pd.read_csv("./data/2019-20/gws/gw22.csv",encoding='ISO-8859-1')
gw23_1920 = pd.read_csv("./data/2019-20/gws/gw23.csv",encoding='ISO-8859-1')
gw24_1920 = pd.read_csv("./data/2019-20/gws/gw24.csv",encoding='ISO-8859-1')
gw25_1920 = pd.read_csv("./data/2019-20/gws/gw25.csv",encoding='ISO-8859-1')
gw26_1920 = pd.read_csv("./data/2019-20/gws/gw26.csv",encoding='ISO-8859-1')
gw27_1920 = pd.read_csv("./data/2019-20/gws/gw27.csv",encoding='ISO-8859-1')
gw28_1920 = pd.read_csv("./data/2019-20/gws/gw28.csv",encoding='ISO-8859-1')
gw29_1920 = pd.read_csv("./data/2019-20/gws/gw29.csv",encoding='ISO-8859-1')


gw29_1920[['name', 'round']].head(20)

                                  name  round
0          Jorge Luiz_Frello Filho_118     29
1                       Matej_Vydra_92     29
2                   Brandon_Austin_558     29
3   Lucas_Rodrigues Moura da Silva_345     29
4                      John_Stones_207     29
5                      John_Stones_207     29
6                      David_Silva_219     29
7                      David_Silva_219     29
8                      Bukayo_Saka_541     29
9                      Bukayo_Saka_541     29
10                    Sead_Kolasinac_3     29
11                    Sead_Kolasinac_3     29
12            Jonathan_Castro Otto_402     29
13                     Sadio_ManÃ©_192     29
14                    James_Chester_23     29
15                     Teemu_Pukki_278     29
16                    Andy_Carroll_520     29
17                       Luke_Amos_351     29
18                 Oliver_McBurnie_501     29
19                     JosÃ©_Reina_603     29

In [78]:
gw3_1920.columns

Index(['name', 'assists', 'bonus', 'bps', 'clean_sheets', 'creativity',
       'element', 'fixture', 'goals_conceded', 'goals_scored', 'ict_index',
       'influence', 'kickoff_time', 'minutes', 'opponent_team', 'own_goals',
       'penalties_missed', 'penalties_saved', 'red_cards', 'round', 'saves',
       'selected', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards'],
      dtype='object')

Need to strip the id from the name column

In [67]:
# Create the  player in respective seasons using map function.
player_19_webname=dict(zip(players_2019.id, players_2019.web_name))
player_19_clubname=dict(zip(players_2019.web_name, players_2019.club_name))

gw1_1920['web_name'] = gw1_1920['id'].map(player_19_webname)
gw1_1920['clubname'] = gw1_1920['web_name'].map(player_19_clubname)

gws = [gw2_1920, gw3_1920, gw4_1920, gw5_1920, gw6_1920, gw7_1920, gw8_1920, gw9_1920, gw10_1920, 
gw11_1920, gw12_1920, gw13_1920, gw14_1920, gw15_1920, gw17_1920, gw17_1920, gw18_1920, gw19_1920, gw20_1920,
gw21_1920, gw22_1920, gw23_1920, gw24_1920, gw25_1920, gw26_1920, gw27_1920, gw28_1920, gw29_1920]

#all_gws_2018 = pd.concat(gws, axis=0, ignore_index=True)
gws_2019 = pd.concat(gws)
gws_2019.shape

gw_player_19_clubname=dict(zip(gw1_1920.name, gw1_1920.clubname))
gws_2019['clubname'] = gws_2019['name'].map(gw_player_19_clubname)
all_gw_webname = dict(zip(gw1_1920.name, gw1_1920.web_name))
gws_2019['web_name'] = gws_2019['name'].map(all_gw_webname)

gws1 = [gw1_1920, gws_2019]

all_gws_2019 = pd.concat(gws1)

KeyError: 'id'

In [ ]:
all_gws_2019[['name', 'round', 'total_points']].head(5)

                    name  round  total_points
0    Aaron_Cresswell_402      1             0
1        Aaron_Lennon_83      1             3
2         Aaron_Mooy_199      1             2
3        Aaron_Ramsey_14      1             1
4  Aaron_Wan-Bissaka_145      1            12

In [ ]:
#Deal with null values and 

all_gws_2019['year'] = all_gws_2019.apply(lambda x: "2019-20", axis=1)
all_gws_2019.drop('web_name', axis=1, inplace=True)
all_gws_2019.dropna(inplace=True)

# Create the name of the opponent club for each player in respective seasons using map function.
teams=dict(zip(mtl1920.team, mtl1920.team_name))
all_gws_2019['opponent_name'] = all_gws_2019['opponent_team'].map(teams)
all_gws_2019.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'clubname',
       'year', 'opponent_name'],
      dtype='object')

In [ ]:
all_gws_2019[['id', 'name', 'clubname', 'year', 'round', 'opponent_name', 'total_points']].head()

,id,name,clubname,year,round,opponent_name,total_points
0,402,Aaron_Cresswell_402,West Ham,2018-19,1,Liverpool,0
1,83,Aaron_Lennon_83,Burnley,2018-19,1,Southampton,3
2,199,Aaron_Mooy_199,Huddersfield,2018-19,1,Chelsea,2
3,14,Aaron_Ramsey_14,Arsenal,2018-19,1,Man City,1
4,145,Aaron_Wan-Bissaka_145,Crystal Palace,2018-19,1,Fulham,12

2020-21

In [74]:
gw1_2020 = pd.read_csv("./data/2020-21/gws/gw1.csv",encoding='ISO-8859-1')
gw2_2020 = pd.read_csv("./data/2020-21/gws/gw2.csv",encoding='ISO-8859-1')
gw3_2020 = pd.read_csv("./data/2020-21/gws/gw3.csv",encoding='ISO-8859-1')
gw4_2020 = pd.read_csv("./data/2020-21/gws/gw4.csv",encoding='ISO-8859-1')
gw5_2020 = pd.read_csv("./data/2020-21/gws/gw5.csv",encoding='ISO-8859-1')
gw6_2020 = pd.read_csv("./data/2020-21/gws/gw6.csv",encoding='ISO-8859-1')
gw7_2020 = pd.read_csv("./data/2020-21/gws/gw7.csv",encoding='ISO-8859-1')
gw8_2020 = pd.read_csv("./data/2020-21/gws/gw8.csv",encoding='ISO-8859-1')
gw9_2020 = pd.read_csv("./data/2020-21/gws/gw9.csv",encoding='ISO-8859-1')
gw10_2020 = pd.read_csv("./data/2020-21/gws/gw10.csv",encoding='ISO-8859-1')
gw11_2020 = pd.read_csv("./data/2020-21/gws/gw11.csv",encoding='ISO-8859-1')
gw12_2020 = pd.read_csv("./data/2020-21/gws/gw12.csv",encoding='ISO-8859-1')
gw13_2020 = pd.read_csv("./data/2020-21/gws/gw13.csv",encoding='ISO-8859-1')
gw14_2020 = pd.read_csv("./data/2020-21/gws/gw14.csv",encoding='ISO-8859-1')
gw15_2020 = pd.read_csv("./data/2020-21/gws/gw15.csv",encoding='ISO-8859-1')
gw16_2020 = pd.read_csv("./data/2020-21/gws/gw16.csv",encoding='ISO-8859-1')
gw17_2020 = pd.read_csv("./data/2020-21/gws/gw17.csv",encoding='ISO-8859-1')
gw18_2020 = pd.read_csv("./data/2020-21/gws/gw18.csv",encoding='ISO-8859-1')
gw19_2020 = pd.read_csv("./data/2020-21/gws/gw19.csv",encoding='ISO-8859-1')
gw20_2020 = pd.read_csv("./data/2020-21/gws/gw20.csv",encoding='ISO-8859-1')
gw21_2020 = pd.read_csv("./data/2020-21/gws/gw21.csv",encoding='ISO-8859-1')
gw22_2020 = pd.read_csv("./data/2020-21/gws/gw22.csv",encoding='ISO-8859-1')
gw23_2020 = pd.read_csv("./data/2020-21/gws/gw23.csv",encoding='ISO-8859-1')
gw24_2020 = pd.read_csv("./data/2020-21/gws/gw24.csv",encoding='ISO-8859-1')
gw25_2020 = pd.read_csv("./data/2020-21/gws/gw25.csv",encoding='ISO-8859-1')
gw26_2020 = pd.read_csv("./data/2020-21/gws/gw26.csv",encoding='ISO-8859-1')
gw27_2020 = pd.read_csv("./data/2020-21/gws/gw27.csv",encoding='ISO-8859-1')
gw28_2020 = pd.read_csv("./data/2020-21/gws/gw28.csv",encoding='ISO-8859-1')
gw29_2020 = pd.read_csv("./data/2020-21/gws/gw29.csv",encoding='ISO-8859-1')
gw30_2020 = pd.read_csv("./data/2020-21/gws/gw30.csv",encoding='ISO-8859-1')
gw31_2020 = pd.read_csv("./data/2020-21/gws/gw31.csv",encoding='ISO-8859-1')
gw32_2020 = pd.read_csv("./data/2020-21/gws/gw32.csv",encoding='ISO-8859-1')
gw33_2020 = pd.read_csv("./data/2020-21/gws/gw33.csv",encoding='ISO-8859-1')
gw34_2020 = pd.read_csv("./data/2020-21/gws/gw34.csv",encoding='ISO-8859-1')
gw35_2020 = pd.read_csv("./data/2020-21/gws/gw35.csv",encoding='ISO-8859-1')
gw36_2020 = pd.read_csv("./data/2020-21/gws/gw36.csv",encoding='ISO-8859-1')
gw37_2020 = pd.read_csv("./data/2020-21/gws/gw37.csv",encoding='ISO-8859-1')
gw38_2020 = pd.read_csv("./data/2020-21/gws/gw38.csv",encoding='ISO-8859-1')

gw36_2020[['name', 'round', 'total_points']].head(20)

                               name  round  total_points
0                      Max Thompson     36             0
1                        Willy Boly     36             0
2                      Ciaran Clark     36             0
3                       Luke Cundle     36             0
4                      Matt Ritchie     36             1
5   AdriÃ¡n San Miguel del Castillo     36             0
6                     Rhys Williams     36             2
7       AndrÃ©-Frank Zambo Anguissa     36             2
8                Jean MichaÃ«l Seri     36             0
9                       Dara O'Shea     36             0
10      RÃºben Diogo da Silva Neves     36             1
11                     Oliver Casey     36             0
12                 Nathan Broadhead     36             0
13           Bailey Peacock-Farrell     36             0
14                      Nathan AkÃ©     36             1
15               Branislav Ivanovic     36             0
16                    Sam Johnstone     36             2
17                 Christian Walton     36             0
18                Charlie Cresswell     36             0
19                    Jack Grealish     36             1

In [75]:
gw1_2020.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards'],
      dtype='object')

In [77]:
gw1_2020.head(10)

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,Aaron Connolly,FWD,Brighton,0.5,0,0,-3,0,0.3,78,...,3,1,32.0,1,0,0,0,55,True,0
1,Aaron Cresswell,DEF,West Ham,2.1,0,0,11,0,11.2,435,...,2,0,0.0,1,0,0,0,50,True,0
2,Aaron Mooy,MID,Brighton,0.0,0,0,0,0,0.0,60,...,3,1,0.0,0,0,0,0,50,True,0
3,Aaron Ramsdale,GK,Sheffield Utd,2.5,0,0,12,0,0.0,483,...,2,0,0.0,1,0,0,0,50,True,0
4,Abdoulaye DoucourÃ©,MID,Everton,1.3,0,0,20,1,44.6,512,...,1,0,4.0,3,0,0,0,55,False,0
5,Aboubakar Kamara,MID,Fulham,0.4,0,0,-2,0,1.8,190,...,3,0,5.0,2,0,0,0,50,True,0
6,Adama TraorÃ©,MID,Wolves,2.2,0,0,6,1,1.8,465,...,2,0,17.0,3,0,0,0,65,False,0
7,Adam Forshaw,MID,Leeds,0.0,0,0,0,0,0.0,199,...,3,4,0.0,0,0,0,0,50,False,0
8,Adam Lallana,MID,Brighton,1.2,0,0,6,0,27.2,54,...,3,1,2.0,1,0,0,0,65,True,0
9,Adam Webster,DEF,Brighton,0.6,0,0,14,0,11.8,66,...,3,1,1.0,1,0,0,0,45,True,0

In [ ]:
# Create the  player in respective seasons using map function.
player_19_webname=dict(zip(players_2019.id, players_2019.web_name))
player_19_clubname=dict(zip(players_2019.web_name, players_2019.club_name))

gw1_1920['web_name'] = gw1_1920['id'].map(player_19_webname)
gw1_1920['clubname'] = gw1_1920['web_name'].map(player_19_clubname)

gws = [gw2_1920, gw3_1920, gw4_1920, gw5_1920, gw6_1920, gw7_1920, gw8_1920, gw9_1920, gw10_1920, 
gw11_1920, gw12_1920, gw13_1920, gw14_1920, gw15_1920, gw17_1920, gw17_1920, gw18_1920, gw19_1920, gw20_1920,
gw21_1920, gw22_1920, gw23_1920, gw24_1920, gw25_1920, gw26_1920, gw27_1920, gw28_1920, gw29_1920]

#all_gws_2018 = pd.concat(gws, axis=0, ignore_index=True)
gws_2019 = pd.concat(gws)
gws_2019.shape

gw_player_19_clubname=dict(zip(gw1_1920.name, gw1_1920.clubname))
gws_2019['clubname'] = gws_2019['name'].map(gw_player_19_clubname)
all_gw_webname = dict(zip(gw1_1920.name, gw1_1920.web_name))
gws_2019['web_name'] = gws_2019['name'].map(all_gw_webname)

gws1 = [gw1_1920, gws_2019]

all_gws_2019 = pd.concat(gws1)

KeyError: 'id'

In [ ]:
all_gws_2019[['name', 'round', 'total_points']].head(5)

                    name  round  total_points
0    Aaron_Cresswell_402      1             0
1        Aaron_Lennon_83      1             3
2         Aaron_Mooy_199      1             2
3        Aaron_Ramsey_14      1             1
4  Aaron_Wan-Bissaka_145      1            12

In [ ]:
#Deal with null values and 

all_gws_2019['year'] = all_gws_2019.apply(lambda x: "2019-20", axis=1)
all_gws_2019.drop('web_name', axis=1, inplace=True)
all_gws_2019.dropna(inplace=True)

# Create the name of the opponent club for each player in respective seasons using map function.
teams=dict(zip(mtl1920.team, mtl1920.team_name))
all_gws_2019['opponent_name'] = all_gws_2019['opponent_team'].map(teams)
all_gws_2019.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'clubname',
       'year', 'opponent_name'],
      dtype='object')

In [ ]:
all_gws_2018[['id', 'name', 'clubname', 'year', 'round', 'opponent_name', 'total_points']].head()

,id,name,clubname,year,round,opponent_name,total_points
0,402,Aaron_Cresswell_402,West Ham,2018-19,1,Liverpool,0
1,83,Aaron_Lennon_83,Burnley,2018-19,1,Southampton,3
2,199,Aaron_Mooy_199,Huddersfield,2018-19,1,Chelsea,2
3,14,Aaron_Ramsey_14,Arsenal,2018-19,1,Man City,1
4,145,Aaron_Wan-Bissaka_145,Crystal Palace,2018-19,1,Fulham,12

In [ ]:
all_gws_2017.groupby(['minutes']).size().sort_values(ascending=False).head()

minutes
0     9692
90    5987
45     197
1      121
16      77
dtype: int64

In [ ]:
all_gws_2017.shape

(19418, 58)

In [15]:
mtl1718.head(20)

     season  team       team_name
20  2017-18     1         Arsenal
21  2017-18     2     Bournemouth
22  2017-18     3        Brighton
23  2017-18     4         Burnley
24  2017-18     5         Chelsea
25  2017-18     6  Crystal Palace
26  2017-18     7         Everton
27  2017-18     8    Huddersfield
28  2017-18     9       Leicester
29  2017-18    10       Liverpool
30  2017-18    11        Man City
31  2017-18    12         Man Utd
32  2017-18    13       Newcastle
33  2017-18    14     Southampton
34  2017-18    15           Stoke
35  2017-18    16         Swansea
36  2017-18    17           Spurs
37  2017-18    18         Watford
38  2017-18    19       West Brom
39  2017-18    20        West Ham

In [20]:
#To check columns with null values.
all_gws_2017.columns[all_gws_2016.isnull().any()].tolist()

[]

In [ ]:
nan_rows.shape

In [43]:
#To review rows with Nan
nan_rows  =all_gws_2018.loc[all_gws_2018.isna().any(axis=1)]

nan_rows [['name', 'clubname', 'loaned_in', 'loaned_out','minutes', 'loaned_in', 'loaned_out']]
#x = nan_rows[nan_rows.name == 'Victor_Anichebe']
#x [['name', 'clubname', 'loaned_in', 'loaned_out','minutes', 'loaned_in', 'loaned_out']]

Empty DataFrame
Columns: [name, clubname, loaned_in, loaned_out, minutes, loaned_in, loaned_out]
Index: []

In [ ]:
nan_rows.name.nunique()

In [ ]:
#To review rows with Nan
#x = nan_rows[nan_rows.name == 'Wilfred_Ndidi']
#x.shape
#x [['name', 'clubname', 'loaned_in', 'loaned_out','minutes', 'loaned_in', 'loaned_out']]

In [ ]:
#Update active players with missing club name (players with played minutes in gameweek)
#all_gws_2016.loc[all_gws_2016.name == 'Victor_Anichebe', 'clubname'] = 'Sunderland'
#all_gws_2016.loc[all_gws_2016.name == 'Ashley_Fletcher', 'clubname'] = 'West Ham'
#all_gws_2016.loc[all_gws_2016.name == 'Jonathan_Calleri', 'clubname'] = 'West Ham'
#all_gws_2016.loc[all_gws_2016.name == 'Wilfred_Ndidi', 'clubname'] = 'Leicester'
#all_gws_2016.loc[all_gws_2016.name == 'Nathaniel_Chalobah', 'clubname'] = 'Chelsea'
#all_gws_2016.loc[all_gws_2016.name == "Aiden_O'Neill", 'clubname'] = 'Burnley'
#all_gws_2016.loc[all_gws_2016.name == 'Fabio Pereira_da Silva', 'clubname'] = 'Middlesbrough'
#all_gws_2016.loc[all_gws_2016.name == 'Pablo_Maffeo', 'clubname'] = 'Man City'
#all_gws_2016.loc[all_gws_2016.name == 'Reece_Burke', 'clubname'] = 'West Ham'
#all_gws_2016.loc[all_gws_2016.name == 'Ryan_Fraser', 'clubname'] = 'Bournemouth'
#all_gws_2016.loc[all_gws_2016.name == 'Steven_Defour', 'clubname'] = 'Burnley'
#all_gws_2016.loc[all_gws_2016.name == 'Steven_Pienaar', 'clubname'] = 'Sunderland'
#all_gws_2016.loc[all_gws_2016.name == 'Thomas_Robson', 'clubname'] = 'Sunderland'


#gw2_1617.loc[52, 'clubname'] = 'West Ham'
#gw2_1617.loc[266, 'clubname'] = 'West Ham'
#gw2_1617.loc[451, 'clubname'] = 'Bournemouth'
#gw2_1617.loc[484, 'clubname'] = 'Burnley'
#gw2_1617.loc[485, 'clubname'] = 'Sunderland'

In [ ]:
#all_gws_2016=all_gws_2016.loc[all_gws_2016.name!='Josh_Robson']
#all_gws_2016=all_gws_2016.loc[all_gws_2016.name!='Luke_McGee']

In [ ]:
gw2_1617[['id', 'name','clubname']].head()

In [ ]:
test1 = gw1_1617[gw1_1617.id == 1]
test1[['name', 'web_name', 'clubname', 'id']].head(10)

In [ ]:
test2 = gw2_1617[gw2_1617.name == 'David_Ospina']
test2[['name', 'id']].head(10)

In [ ]:
test = players_2016[players_2016.id == 80]
test[['id', 'first_name', 'second_name', 'web_name', 'bonus', 'minutes', 'team_code', 'team', 'total_points']].head(10)

to continue from here

In [ ]:
file_gw1_1617 = './data/2016-17/gws/gw1.csv'
file_gw2_1617 = './data/2016-17/gws/gw2.csv'
file_gw1_1718 = './data/2017-18/gws/gw1.csv'
file_gw2_1718 = './data/2017-18/gws/gw2.csv'

In [ ]:
import chardet
with open(file_gw1_1718, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [ ]:
gw1_1718 = pd.read_csv(file_gw1_1718,encoding='ISO-8859-1')
gw1_1718.columns

In [ ]:
gw1_1718[['id', 'name', 'bonus', 'fixture', 'kickoff_time', 'kickoff_time_formatted', 'minutes', 'opponent_team', 'round', 'selected', 'total_points', 'value', 'was_home',]].sort_values(by='value', ascending=False).head(10)

In [ ]:
test = players_2016[players_2016.second_name != players_2016.web_name]
test.shape
#test[['id', 'first_name', 'second_name', 'web_name', 'bonus', 'minutes', 'team_code', 'team', 'total_points']].head(10)

In [ ]:
import chardet
with open(file_gw1, 'rb') as rawdata:
    result1 = chardet.detect(rawdata.read(100000))
result1

In [ ]:
import chardet
with open(file_gw2, 'rb') as rawdata:
    result2 = chardet.detect(rawdata.read(100000))
result2

In [ ]:
import chardet
with open(file_gw2, 'rb') as rawdata:
    result2 = chardet.detect(rawdata.read(100000))
result2

In [ ]:
df_gw1 = pd.read_csv(file_gw1,encoding='ISO-8859-1')
df_gw1.columns

In [ ]:
df_gw2 = pd.read_csv(file_gw2,encoding='ISO-8859-1')
df_gw1.columns

In [ ]:
df_gw1.head()

In [ ]:
df_gw2[['name', 'bonus', 'fixture', 'kickoff_time', 'kickoff_time_formatted', 'minutes', 'opponent_team', 'round', 'selected', 'total_points', 'value', 'was_home',]].sort_values(by='total_points', ascending=True).head(10)

In [ ]:
df_gw1.fixture.nunique()

In [ ]:
df_gw2.fixture.nunique()

In [ ]:
df_gw1.shape

In [ ]:
#single gw
df_gw2.shape

In [ ]:
df_gw1[['id', 'name', 'bonus', 'fixture', 'kickoff_time', 'kickoff_time_formatted', 'minutes', 'opponent_team', 'round', 'selected', 'total_points', 'value', 'was_home',]].sort_values(by='value', ascending=False).head(10)

In [42]:
file = './data/2016-17/cleaned_players.csv'

In [ ]:
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [ ]:
df = pd.read_csv(file,encoding='ISO-8859-1')
df.columns

In [ ]:
df.head()

In [ ]:
df[['first_name', 'second_name', 'id', 'form', 'ep_next', 'ep_this']].head(10)

In [ ]:
df.shape

In [ ]:
file_gw = './data/2016-17/gws/merged_gw.csv'

In [ ]:
import chardet
with open(file_gw, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [ ]:
df_gw = pd.read_csv(file,encoding='ISO-8859-1')
df_gw.columns

In [ ]:
df_gw.head()

In [ ]:
df_gw[['first_name', 'second_name', 'minutes',  'total_points']].sort_values(by='total_points', ascending=False).head(10)

In [ ]:
df_gw.web_name.nunique()

In [ ]:
df_gw.shape

2016 GW 1 & 2 Data review

TBD

In [ ]:
df_tbd.id.nunique()

In [ ]:
df_tbd.shape

In [ ]:
file_mtl = './data/master_team_list.csv'

In [ ]:
df_tbd.id.nunique()

In [ ]:
mtl16.shape

Full Merged Data Set Review

In [44]:
hist = pd.read_csv('./data/cleaned_merged_seasons.csv')
hist.columns

/home/laniolao/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['Unnamed: 0', 'season_x', 'name', 'position', 'team_x', 'assists',
       'bonus', 'bps', 'clean_sheets', 'creativity', 'element', 'fixture',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'opp_team_name',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'yellow_cards', 'GW'],
      dtype='object')

In [ ]:
hist.shape

In [ ]:
hist[['name', 'position', 'team_x', 'opp_team_name', 'value', 'total_points', 'GW', 'round', 'season_x' ]].sort_values(by='total_points', ascending=False).head(10)