In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
#url = "https://fbref.com/en/comps/9/Premier-League-Stats" #current season
#url_2021 = "https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats"
#url_2021 = "https://fbref.com/en/comps/9/2020-2021/2020-2021-Premier-League-Stats"

In [3]:
# Scraping overall league table html tags for all the seasons
seasons = ['2021-2022/2021-2022', '2020-2021/2020-2021', '2019-2020/2019-2020', '2018-2019/2018-2019', '2017-2018/2017-2018', '2016-2017/2016-2017']
data = []
i = 0
html_text = []
for season in seasons:
    url = f"https://fbref.com/en/comps/9/{season}-Premier-League-Stats"
    data.append(url)
    html = requests.get(data[i])
    i+=1
    html_text.append(html)

In [4]:
# Extracting respective season league table text from html_text
tables_seasons = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
tables = []
for tags in html_text:
    soup = BeautifulSoup(tags.text)
    id_text = soup.find('table', id=[f"results{table}91_overall" for table in tables_seasons])
    tables.append(id_text)

In [5]:
# Obtain league table for 2021 season
league_table_2021 = []
for index in tables[0].find_all('td'):
    title = index.text
    league_table_2021.append(title)
league_table_2021 = [league_table_2021[i: i+18] for i in range(0, len(league_table_2021), 18)]
league_table_2021 = pd.DataFrame(league_table_2021, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_table_2021.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2021.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Manchester City,38,29,6,3,99,26,+73,93,2.45,"52,774",Kevin De Bruyne - 15,Ederson,→ Champions League via league finish,1
1,Liverpool,38,28,8,2,94,26,+68,92,2.42,"53,352",Mohamed Salah - 23,Alisson,→ Champions League via league finish,2
2,Chelsea,38,21,11,6,76,33,+43,74,1.95,"36,443",Mason Mount - 11,Edouard Mendy,→ Champions League via league finish,3
3,Tottenham,38,22,5,11,69,40,+29,71,1.87,"56,523",Son Heung-min - 23,Hugo Lloris,→ Champions League via league finish,4
4,Arsenal,38,22,3,13,61,48,+13,69,1.82,"59,665",Bukayo Saka - 11,Aaron Ramsdale,→ Europa League via league finish,5

In [6]:
# Obtain league table for 2020 season
league_table_2020 = []
for index in tables[1].find_all('td'):
    title = index.text
    league_table_2020.append(title)
league_table_2020 = [league_table_2020[i: i+18] for i in range(0, len(league_table_2020), 18)]
league_table_2020 = pd.DataFrame(league_table_2020, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2020['Rank'] = range(1, 1+len(league_table_2020))
league_table_2020.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2020.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Manchester City,38,27,5,6,83,32,+51,86,2.26,526,İlkay Gündoğan - 13,Ederson,→ Champions League via league finish,1
1,Manchester Utd,38,21,11,6,73,44,+29,74,1.95,526,Bruno Fernandes - 18,David de Gea,→ Champions League via league finish,2
2,Liverpool,38,20,9,9,68,42,+26,69,1.82,837,Mohamed Salah - 22,Alisson,→ Champions League via league finish,3
3,Chelsea,38,19,10,9,58,36,+22,67,1.76,526,Jorginho - 7,Edouard Mendy,→ Champions League via league finish,4
4,Leicester City,38,20,6,12,68,50,+18,66,1.74,421,Jamie Vardy - 15,Kasper Schmeichel,→ Europa League via cup win,5

In [7]:
# Obtain league table for 2019 season
league_table_2019 = []
for index in tables[2].find_all('td'):
    title = index.text
    league_table_2019.append(title)
league_table_2019 = [league_table_2019[i: i+18] for i in range(0, len(league_table_2019), 18)]
league_table_2019 = pd.DataFrame(league_table_2019, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2019['Rank'] = range(1, 1+len(league_table_2019))
league_table_2019.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2019.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Liverpool,38,32,3,3,85,33,+52,99,2.61,"41,955",Mohamed Salah - 19,Alisson,→ Champions League via league finish,1
1,Manchester City,38,26,3,9,102,35,+67,81,2.13,"37,097",Raheem Sterling - 20,Ederson,→ Champions League via league finish,2
2,Manchester Utd,38,18,12,8,66,36,+30,66,1.74,"57,415","Anthony Martial, Marcus Rashford - 17",David de Gea,→ Champions League via league finish,3
3,Chelsea,38,20,6,12,69,54,+15,66,1.74,"32,023",Tammy Abraham - 15,Kepa Arrizabalaga,→ Champions League via league finish,4
4,Leicester City,38,18,8,12,67,41,+26,62,1.63,"25,312",Jamie Vardy - 23,Kasper Schmeichel,→ Europa League via league finish,5

In [8]:
# Obtain league table for 2018 season
league_table_2018 = []
for index in tables[3].find_all('td'):
    title = index.text
    league_table_2018.append(title)
league_table_2018 = [league_table_2018[i: i+18] for i in range(0, len(league_table_2018), 18)]
league_table_2018 = pd.DataFrame(league_table_2018, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2018['Rank'] = range(1, 1+len(league_table_2018))
league_table_2018.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2018.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Manchester City,38,32,2,4,95,23,+72,98,2.58,"54,130",Sergio Agüero - 21,Ederson,→ Champions League via league finish,1
1,Liverpool,38,30,7,1,89,22,+67,97,2.55,"52,983","Sadio Mané, Mohamed Salah - 22",Alisson,→ Champions League via league finish,2
2,Chelsea,38,21,9,8,63,39,+24,72,1.89,"40,437",Eden Hazard - 16,Kepa Arrizabalaga,→ Champions League via league finish,3
3,Tottenham,38,23,2,13,67,39,+28,71,1.87,"54,216",Harry Kane - 17,Hugo Lloris,→ Champions League via league finish,4
4,Arsenal,38,21,7,10,73,51,+22,70,1.84,"59,899",Pierre-Emerick Aubameyang - 22,Bernd Leno,→ Europa League via league finish,5

In [9]:
# Obtain league table for 2017 season
league_table_2017 = []
for index in tables[4].find_all('td'):
    title = index.text
    league_table_2017.append(title)
league_table_2017 = [league_table_2017[i: i+18] for i in range(0, len(league_table_2017), 18)]
league_table_2017 = pd.DataFrame(league_table_2017, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2017['Rank'] = range(1, 1+len(league_table_2017))
league_table_2017.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2017.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Manchester City,38,32,4,2,106,27,+79,100,2.63,"54,070",Sergio Agüero - 21,Ederson,→ Champions League via league finish,1
1,Manchester Utd,38,25,6,7,68,28,+40,81,2.13,"74,976",Romelu Lukaku - 16,David de Gea,→ Champions League via league finish,2
2,Tottenham,38,23,8,7,74,36,+38,77,2.03,"67,953",Harry Kane - 30,Hugo Lloris,→ Champions League via league finish,3
3,Liverpool,38,21,12,5,84,38,+46,75,1.97,"53,049",Mohamed Salah - 32,"Loris Karius, Simon Mignolet",→ Champions League via league finish,4
4,Chelsea,38,21,7,10,62,38,+24,70,1.84,"41,282",Eden Hazard - 12,Thibaut Courtois,→ Europa League via cup win 1,5

In [13]:
# Obtain league table for 2016 season
league_table_2016 = []
for index in tables[5].find_all('td'):
    title = index.text
    league_table_2016.append(title)
league_table_2016 = [league_table_2016[i: i+14] for i in range(0, len(league_table_2016), 14)]
league_table_2016 = pd.DataFrame(league_table_2016, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2016['Rank'] = range(1, 1+len(league_table_2016))
league_table_2016.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Chelsea,38,30,3,5,85,33,+52,93,2.45,"41,508",Diego Costa - 20,Thibaut Courtois,→ Champions League via league finish,1
1,Tottenham,38,26,8,4,86,26,+60,86,2.26,"31,639",Harry Kane - 29,Hugo Lloris,→ Champions League via league finish,2
2,Manchester City,38,23,9,6,80,39,+41,78,2.05,"54,019",Sergio Agüero - 20,Claudio Bravo,→ Champions League via league finish,3
3,Liverpool,38,22,10,6,78,42,+36,76,2.00,"53,016","Philippe Coutinho, Sadio Mané - 13",Simon Mignolet,→ Champions League via league finish,4
4,Arsenal,38,23,6,9,77,44,+33,75,1.97,"59,957",Alexis Sánchez - 24,Petr Čech,→ Europa League via cup win 1,5

In [14]:
# Extracting home and away season league table text from html_text
tables_home_away = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
tables_hw = []
for tags in html_text:
    soup = BeautifulSoup(tags.text)
    id_text = soup.find('table', id=[f"results{table}91_home_away" for table in tables_home_away])
    tables_hw.append(id_text)

In [15]:
# Obtain home and away table for 2021
league_home_away_2021 = []
for index in tables_hw[0].find_all('td'):
    title = index.text
    league_home_away_2021.append(title)
league_home_away_2021
league_home_away_2021 = [league_home_away_2021[i: i+27] for i in range(0, len(league_home_away_2021), 27)]
league_home_away_2021 = pd.DataFrame(league_home_away_2021, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2021.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2021.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Manchester City,19,15,2,2,58,15,+43,47,2.47,19,14,4,1,41,11,+30,46,2.42
1,Liverpool,19,15,4,0,49,9,+40,49,2.58,19,13,4,2,45,17,+28,43,2.26
2,Chelsea,19,9,7,3,37,22,+15,34,1.79,19,12,4,3,39,11,+28,40,2.11
3,Tottenham,19,13,1,5,38,19,+19,40,2.11,19,9,4,6,31,21,+10,31,1.63
4,Arsenal,19,13,2,4,35,17,+18,41,2.16,19,9,1,9,26,31,-5,28,1.47

In [16]:
# Obtain home and away table for 2020
league_home_away_2020 = []
for index in tables_hw[1].find_all('td'):
    title = index.text
    league_home_away_2020.append(title)
league_home_away_2020
league_home_away_2020 = [league_home_away_2020[i: i+27] for i in range(0, len(league_home_away_2020), 27)]
league_home_away_2020 = pd.DataFrame(league_home_away_2020, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2020.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2020.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Manchester City,19,13,2,4,43,17,+26,41,2.16,19,14,3,2,40,15,+25,45,2.37
1,Manchester Utd,19,9,4,6,38,28,+10,31,1.63,19,12,7,0,35,16,+19,43,2.26
2,Liverpool,19,10,3,6,29,20,+9,33,1.74,19,10,6,3,39,22,+17,36,1.89
3,Chelsea,19,9,6,4,31,18,+13,33,1.74,19,10,4,5,27,18,+9,34,1.79
4,Leicester City,19,9,1,9,34,30,+4,28,1.47,19,11,5,3,34,20,+14,38,2.00

In [18]:
# Obtain home and away table for 2019
league_home_away_2019 = []
for index in tables_hw[2].find_all('td'):
    title = index.text
    league_home_away_2019.append(title)
league_home_away_2019
league_home_away_2019 = [league_home_away_2019[i: i+27] for i in range(0, len(league_home_away_2019), 27)]
league_home_away_2019 = pd.DataFrame(league_home_away_2019, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2019.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2019.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Liverpool,19,18,1,0,52,16,+36,55,2.89,19,14,2,3,33,17,+16,44,2.32
1,Manchester City,19,15,2,2,57,13,+44,47,2.47,19,11,1,7,45,22,+23,34,1.79
2,Manchester Utd,19,10,7,2,40,17,+23,37,1.95,19,8,5,6,26,19,+7,29,1.53
3,Chelsea,19,11,3,5,30,16,+14,36,1.89,19,9,3,7,39,38,+1,30,1.58
4,Leicester City,19,11,4,4,35,17,+18,37,1.95,19,7,4,8,32,24,+8,25,1.32

In [22]:
# Obtain home and away table for 2018
league_home_away_2018 = []
for index in tables_hw[3].find_all('td'):
    title = index.text
    league_home_away_2018.append(title)
league_home_away_2018
league_home_away_2018 = [league_home_away_2018[i: i+27] for i in range(0, len(league_home_away_2018), 27)]
league_home_away_2018 = pd.DataFrame(league_home_away_2018, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2018.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2018.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Manchester City,19,18,0,1,57,12,+45,54,2.84,19,14,2,3,38,11,+27,44,2.32
1,Liverpool,19,17,2,0,55,10,+45,53,2.79,19,13,5,1,34,12,+22,44,2.32
2,Chelsea,19,12,6,1,39,12,+27,42,2.21,19,9,3,7,24,27,-3,30,1.58
3,Tottenham,19,12,2,5,34,16,+18,38,2.00,19,11,0,8,33,23,+10,33,1.74
4,Arsenal,19,14,3,2,42,16,+26,45,2.37,19,7,4,8,31,35,-4,25,1.32

In [26]:
# Obtain home and away table for 2017
league_home_away_2017 = []
for index in tables_hw[4].find_all('td'):
    title = index.text
    league_home_away_2017.append(title)
league_home_away_2017
league_home_away_2017 = [league_home_away_2017[i: i+27] for i in range(0, len(league_home_away_2017), 27)]
league_home_away_2017 = pd.DataFrame(league_home_away_2017, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2017.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2017.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Manchester City,19,16,2,1,61,14,+47,50,2.63,19,16,2,1,45,13,+32,50,2.63
1,Manchester Utd,19,15,2,2,38,9,+29,47,2.47,19,10,4,5,30,19,+11,34,1.79
2,Tottenham,19,13,4,2,40,16,+24,43,2.26,19,10,4,5,34,20,+14,34,1.79
3,Liverpool,19,12,7,0,45,10,+35,43,2.26,19,9,5,5,39,28,+11,32,1.68
4,Chelsea,19,11,4,4,30,16,+14,37,1.95,19,10,3,6,32,22,+10,33,1.74

In [28]:
# Obtain every title of columns with tag <th>
headers = []
for i in tables_hw[5].find_all('th'):
 title = i.text
 headers.append(title)
headers

['',
 'Home',
 'Away',
 'Rk',
 'Squad',
 'MP',
 'W',
 'D',
 'L',
 'GF',
 'GA',
 'GD',
 'Pts',
 'Pts/MP',
 'MP',
 'W',
 'D',
 'L',
 'GF',
 'GA',
 'GD',
 'Pts',
 'Pts/MP',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [30]:
# Obtain home and away table for 2016
league_home_away_2016 = []
for index in tables_hw[5].find_all('td'):
    title = index.text
    league_home_away_2016.append(title)
league_home_away_2016
league_home_away_2016 = [league_home_away_2016[i: i+19] for i in range(0, len(league_home_away_2016), 19)]
league_home_away_2016 = pd.DataFrame(league_home_away_2016, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP'])
#league_home_away_2016.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
league_home_away_2016.head()

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Chelsea,19,17,0,2,55,17,+38,51,2.68,19,13,3,3,30,16,+14,42,2.21
1,Tottenham,19,17,2,0,47,9,+38,53,2.79,19,9,6,4,39,17,+22,33,1.74
2,Manchester City,19,11,7,1,37,17,+20,40,2.11,19,12,2,5,43,22,+21,38,2.00
3,Liverpool,19,12,5,2,45,18,+27,41,2.16,19,10,5,4,33,24,+9,35,1.84
4,Arsenal,19,14,3,2,39,16,+23,45,2.37,19,9,3,7,38,28,+10,30,1.58

# Obtain every title of columns with tag <th>
headers = []
for i in tables_hw[0].find_all('th'):
 title = i.text
 headers.append(title)
headers

In [31]:
# Extracting overall current season league table text from html_text
url = "https://fbref.com/en/comps/9/Premier-League-Stats" #current season
data_2022 = requests.get(url)
soup = BeautifulSoup(data_2022.text)
table_2022 = soup.find('table', id='results2022-202391_overall')
# Obtain every title of columns with tag <th>
league_table_2022 = []
for i in table_2022.find_all('td'):
 title = i.text
 league_table_2022.append(title)
league_table_2022 = [league_table_2022[i: i+19] for i in range(0, len(league_table_2022), 19)]
league_table_2022 = pd.DataFrame(league_table_2022, columns = ['Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Last 5', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'])
league_table_2022['Rank'] = range(1, 1+len(league_table_2022))
league_table_2022.drop(['xG', 'xGA', 'xGD', 'xGD/90',], axis=1, inplace=True)
league_table_2022.head()
#data.text

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Arsenal,7,6,0,1,17,7,+10,18,2.57,W W W L W,"60,070",Gabriel Jesus - 4,Aaron Ramsdale,,1
1,Manchester City,7,5,2,0,23,6,+17,17,2.43,D W W D W,"53,325",Erling Haaland - 11,Ederson,,2
2,Tottenham,7,5,2,0,18,7,+11,17,2.43,W W D W W,"61,530",Harry Kane - 6,Hugo Lloris,,3
3,Brighton,6,4,1,1,11,5,+6,13,2.17,D W W L W,"31,230",Alexis Mac Allister - 4,Robert Sánchez,,4
4,Manchester Utd,6,4,0,2,8,8,0,12,2.00,L W W W W,"73,763",Marcus Rashford - 3,David de Gea,,5

In [32]:
# Extracting home and away season league table text from html_text
#url = "https://fbref.com/en/comps/9/Premier-League-Stats" #current season
#data_2022 = requests.get(url)
soup = BeautifulSoup(data_2022.text)
table_hw_2022 = soup.find('table', id='results2022-202391_home_away')
# Obtain every title of columns with tag <th>
league_home_away_2022 = []
for i in table_hw_2022.find_all('td'):
    title = i.text
    league_home_away_2022.append(title)
league_home_away_2022 = [league_home_away_2022[i: i+27] for i in range(0, len(league_home_away_2022), 27)]
league_home_away_2022 = pd.DataFrame(league_home_away_2022, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'])
league_home_away_2022.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
league_home_away_2022.head()
#data.text

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Arsenal,3,3,0,0,8,4,+4,9,3.00,4,3,0,1,9,3,+6,9,2.25
1,Manchester City,3,3,0,0,14,2,+12,9,3.00,4,2,2,0,9,4,+5,8,2.00
2,Tottenham,4,4,0,0,13,4,+9,12,3.00,3,1,2,0,5,3,+2,5,1.67
3,Brighton,3,2,1,0,6,2,+4,7,2.33,3,2,0,1,5,3,+2,6,2.00
4,Manchester Utd,3,2,0,1,6,4,+2,6,2.00,3,2,0,1,2,4,-2,6,2.00

In [37]:
# Convert Attendance feature to numeric datatype
league_table_2016['Attendance'] = pd.to_numeric(league_table_2016['Attendance'].str.replace(',', ''))
league_table_2017['Attendance'] = pd.to_numeric(league_table_2017['Attendance'].str.replace(',', ''))
league_table_2018['Attendance'] = pd.to_numeric(league_table_2018['Attendance'].str.replace(',', ''))
league_table_2019['Attendance'] = pd.to_numeric(league_table_2019['Attendance'].str.replace(',', ''))
league_table_2021['Attendance'] = pd.to_numeric(league_table_2021['Attendance'].str.replace(',', ''))
league_table_2022['Attendance'] = pd.to_numeric(league_table_2022['Attendance'].str.replace(',', ''))

In [38]:
#Quality Check
league_table_2019.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank
0,Liverpool,38,32,3,3,85,33,+52,99,2.61,41955,Mohamed Salah - 19,Alisson,→ Champions League via league finish,1
1,Manchester City,38,26,3,9,102,35,+67,81,2.13,37097,Raheem Sterling - 20,Ederson,→ Champions League via league finish,2
2,Manchester Utd,38,18,12,8,66,36,+30,66,1.74,57415,"Anthony Martial, Marcus Rashford - 17",David de Gea,→ Champions League via league finish,3
3,Chelsea,38,20,6,12,69,54,+15,66,1.74,32023,Tammy Abraham - 15,Kepa Arrizabalaga,→ Champions League via league finish,4
4,Leicester City,38,18,8,12,67,41,+26,62,1.63,25312,Jamie Vardy - 23,Kasper Schmeichel,→ Europa League via league finish,5

In [48]:
# Changing erroneus datatype
convert_dict = {'MP': int, 'W': int, 'D': int, 'L': int, 'GF': int, 'GA': int, 'GD': int, 'Pts': int, 'Pts/MP': float}
convert_dict1 = {'H_MP': int, 'H_W': int, 'H_D': int, 'H_L': int, 'H_GF': int, 'H_GA': int, 'H_GD': int, 'H_Pts': int, 'H_Pts/MP': float, 'A_MP': int, 'A_W': int, 'A_D': int, 'A_L': int, 'A_GF': int, 'A_GA': int, 'A_GD': int, 'A_Pts': int, 'A_Pts/MP': float}

league_table_2016 = league_table_2016.astype(convert_dict) 
league_table_2017 = league_table_2017.astype(convert_dict) 
league_table_2018 = league_table_2018.astype(convert_dict)
league_table_2019 = league_table_2019.astype(convert_dict)
league_table_2020 = league_table_2020.astype(convert_dict) 
league_table_2021 = league_table_2021.astype(convert_dict) 
league_table_2022 = league_table_2022.astype(convert_dict)

league_home_away_2016 = league_home_away_2016.astype(convert_dict1)
league_home_away_2017 = league_home_away_2017.astype(convert_dict1)
league_home_away_2018 = league_home_away_2018.astype(convert_dict1)
league_home_away_2019 = league_home_away_2019.astype(convert_dict1)
league_home_away_2020 = league_home_away_2020.astype(convert_dict1) 
league_home_away_2021 = league_home_away_2021.astype(convert_dict1) 
league_home_away_2022 = league_home_away_2022.astype(convert_dict1)

In [49]:
#Quality check
league_home_away_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Squad     20 non-null     object
 1   H_MP      20 non-null     int64
 2   H_W       20 non-null     int64
 3   H_D       20 non-null     int64
 4   H_L       20 non-null     int64
 5   H_GF      20 non-null     int64
 6   H_GA      20 non-null     int64
 7   H_GD      20 non-null     int64
 8   H_Pts     20 non-null     int64
 9   H_Pts/MP  20 non-null     float64
 10  A_MP      20 non-null     int64
 11  A_W       20 non-null     int64
 12  A_D       20 non-null     int64
 13  A_L       20 non-null     int64
 14  A_GF      20 non-null     int64
 15  A_GA      20 non-null     int64
 16  A_GD      20 non-null     int64
 17  A_Pts     20 non-null     int64
 18  A_Pts/MP  20 non-null     float64
dtypes: float64(2), int64(16), object(1)
memory usage: 3.1+ KB

In [50]:
#Function to compute overall team strength, attack strength and defence strength
def calc_team_strength(players):
    players['team_strength'] = 1000
    players['team_strength'] += (players['W'] / players['MP'])*100
    players['team_strength'] -= (players['D'] / players['MP'])*100
    players['team_strength'] -= (players['L'] / players['MP'])*100
    players['attack_strength'] = 1000 
    players['attack_strength'] += (players['GF'] / players['MP'])*100
    players['defence_strength'] = 1000 
    players['defence_strength'] -= (players['GA'] / players['MP'])*100
    return players

In [51]:
league_table_2016 = calc_team_strength(league_table_2016)
league_table_2017 = calc_team_strength(league_table_2017)
league_table_2018 = calc_team_strength(league_table_2018)
league_table_2019 = calc_team_strength(league_table_2019)
league_table_2020 = calc_team_strength(league_table_2020)
league_table_2021 = calc_team_strength(league_table_2021)
league_table_2022 = calc_team_strength(league_table_2022)
league_table_2021.head(20)

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Rank,team_strength,attack_strength,defence_strength
0,Manchester City,38,29,6,3,99,26,73,93,2.45,52774,Kevin De Bruyne - 15,Ederson,→ Champions League via league finish,1,1052.631579,1260.526316,931.578947
1,Liverpool,38,28,8,2,94,26,68,92,2.42,53352,Mohamed Salah - 23,Alisson,→ Champions League via league finish,2,1047.368421,1247.368421,931.578947
2,Chelsea,38,21,11,6,76,33,43,74,1.95,36443,Mason Mount - 11,Edouard Mendy,→ Champions League via league finish,3,1010.526316,1200.000000,913.157895
3,Tottenham,38,22,5,11,69,40,29,71,1.87,56523,Son Heung-min - 23,Hugo Lloris,→ Champions League via league finish,4,1015.789474,1181.578947,894.736842
4,Arsenal,38,22,3,13,61,48,13,69,1.82,59665,Bukayo Saka - 11,Aaron Ramsdale,→ Europa League via league finish,5,1015.789474,1160.526316,873.684211
5,Manchester Utd,38,16,10,12,57,57,0,58,1.53,73150,Cristiano Ronaldo - 18,David de Gea,→ Europa League via league finish,6,984.210526,1150.000000,850.000000
6,West Ham,38,16,8,14,60,51,9,56,1.47,58370,Jarrod Bowen - 12,Łukasz Fabiański,→ Europa Conference League via league finish,7,984.210526,1157.894737,865.789474
7,Leicester City,38,14,10,14,62,59,3,52,1.37,32493,Jamie Vardy - 15,Kasper Schmeichel,,8,973.684211,1163.157895,844.736842
8,Brighton,38,12,15,11,42,44,-2,51,1.34,30966,"Leandro Trossard, Neal Maupay - 8",Robert Sánchez,,9,963.157895,1110.526316,884.210526
9,Wolves,38,15,6,17,38,43,-5,51,1.34,30841,Raúl Jiménez - 6,José Sá,,10,978.947368,1100.000000,886.842105
10,Newcastle Utd,38,13,10,15,44,62,-18,49,1.29,51487,Callum Wilson - 8,Martin Dúbravka,,11,968.421053,1115.789474,836.842105
11,Crystal Palace,38,11,15,12,50,46,4,48,1.26,24588,Wilfried Zaha - 14,Vicente Guaita,,12,957.894737,1131.578947,878.947368
12,Brentford,38,13,7,18,48,56,-8,46,1.21,16918,Ivan Toney - 12,David Raya,,13,968.421053,1126.315789,852.631579
13,Aston Villa,38,13,6,19,52,54,-2,45,1.18,41681,Ollie Watkins - 11,Emiliano Martínez,,14,968.421053,1136.842105,857.894737
14,Southampton,38,9,13,16,43,67,-24,40,1.05,30134,James Ward-Prowse - 10,Fraser Forster,,15,947.368421,1113.157895,823.684211
15,Everton,38,11,6,21,43,66,-23,39,1.03,38446,Richarlison - 10,Jordan Pickford,,16,957.894737,1113.157895,826.315789
16,Leeds United,38,9,11,18,42,79,-37,38,1.00,36308,Raphinha - 11,Illan Meslier,,17,947.368421,1110.526316,792.105263
17,Burnley,38,7,14,17,34,53,-19,35,0.92,19278,Maxwel Cornet - 9,Nick Pope,Relegated,18,936.842105,1089.473684,860.526316
18,Watford,38,6,5,27,34,77,-43,23,0.61,20614,Emmanuel Dennis - 10,Ben Foster,Relegated,19,931.578947,1089.473684,797.368421
19,Norwich City,38,5,7,26,23,84,-61,22,0.58,26836,Teemu Pukki - 11,Tim Krul,Relegated,20,926.315789,1060.526316,778.947368

In [52]:
league_home_away_2022.head(20)

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,A_MP,A_W,A_D,A_L,A_GF,A_GA,A_GD,A_Pts,A_Pts/MP
0,Arsenal,3,3,0,0,8,4,4,9,3.00,4,3,0,1,9,3,6,9,2.25
1,Manchester City,3,3,0,0,14,2,12,9,3.00,4,2,2,0,9,4,5,8,2.00
2,Tottenham,4,4,0,0,13,4,9,12,3.00,3,1,2,0,5,3,2,5,1.67
3,Brighton,3,2,1,0,6,2,4,7,2.33,3,2,0,1,5,3,2,6,2.00
4,Manchester Utd,3,2,0,1,6,4,2,6,2.00,3,2,0,1,2,4,-2,6,2.00
5,Fulham,3,2,1,0,7,5,2,7,2.33,4,1,1,2,5,6,-1,4,1.00
6,Chelsea,3,2,1,0,6,4,2,7,2.33,3,1,0,2,2,5,-3,3,1.00
7,Liverpool,3,2,1,0,12,2,10,7,2.33,3,0,2,1,3,4,-1,2,0.67
8,Brentford,4,2,1,1,10,6,4,7,1.75,3,0,2,1,5,6,-1,2,0.67
9,Newcastle Utd,4,1,3,0,6,4,2,6,1.50,3,0,2,1,2,3,-1,2,0.67
10,Leeds United,3,2,1,0,6,2,4,7,2.33,3,0,1,2,4,8,-4,1,0.33
11,Bournemouth,3,1,1,1,2,3,-1,4,1.33,4,1,1,2,4,16,-12,4,1.00
12,Everton,4,1,2,1,2,2,0,5,1.25,3,0,2,1,3,4,-1,2,0.67
13,Southampton,3,1,1,1,4,4,0,4,1.33,4,1,0,3,3,7,-4,3,0.75
14,Aston Villa,4,2,1,1,4,3,1,7,1.75,3,0,0,3,2,7,-5,0,0.00
15,Crystal Palace,3,1,1,1,4,4,0,4,1.33,3,0,2,1,3,5,-2,2,0.67
16,Wolves,4,1,2,1,2,4,-2,5,1.25,3,0,1,2,1,3,-2,1,0.33
17,West Ham,3,0,1,2,1,5,-4,1,0.33,4,1,0,3,2,4,-2,3,0.75
18,Nott'ham Forest,4,1,0,3,5,8,-3,3,0.75,3,0,1,2,1,9,-8,1,0.33
19,Leicester City,3,0,1,2,3,5,-2,1,0.33,4,0,0,4,7,17,-10,0,0.00

In [53]:
#Function to compute home and away overall strength, attack strength and defence strength
def calc_hw_team_strength(players):
    players['home_team_strength'] = 1000
    players['home_team_strength'] += (players['H_W'] / players['H_MP'])*100
    players['home_team_strength'] -= (players['H_D'] / players['H_MP'])*100
    players['home_team_strength'] -= (players['H_L'] / players['H_MP'])*100
    players['away_team_strength'] = 1000
    players['away_team_strength'] += (players['A_W'] / players['A_MP'])*100
    players['away_team_strength'] -= (players['A_D'] / players['A_MP'])*100
    players['away_team_strength'] -= (players['A_L'] / players['A_MP'])*100
    players['home_attack_strength'] = 1000 
    players['home_attack_strength'] += (players['H_GF'] / players['H_MP'])*100
    players['home_defence_strength'] = 1000 
    players['home_defence_strength'] -= (players['H_GA'] / players['H_MP'])*100
    players['away_attack_strength'] = 1000 
    players['away_attack_strength'] += (players['A_GF'] / players['A_MP'])*100
    players['away_defence_strength'] = 1000 
    players['away_defence_strength'] -= (players['A_GA'] / players['A_MP'])*100
    return players

In [54]:
league_home_away_2016 = calc_hw_team_strength(league_home_away_2016)
league_home_away_2017 = calc_hw_team_strength(league_home_away_2017)
league_home_away_2018 = calc_hw_team_strength(league_home_away_2018)
league_home_away_2019 = calc_hw_team_strength(league_home_away_2019)
league_home_away_2020 = calc_hw_team_strength(league_home_away_2020)
league_home_away_2021 = calc_hw_team_strength(league_home_away_2021)
league_home_away_2022 = calc_hw_team_strength(league_home_away_2022)
league_home_away_2022.head(20)

,Squad,H_MP,H_W,H_D,H_L,H_GF,H_GA,H_GD,H_Pts,H_Pts/MP,...,A_GA,A_GD,A_Pts,A_Pts/MP,home_team_strength,away_team_strength,home_attack_strength,home_defence_strength,away_attack_strength,away_defence_strength
0,Arsenal,3,3,0,0,8,4,4,9,3.00,...,3,6,9,2.25,1100.000000,1050.000000,1266.666667,866.666667,1225.000000,925.000000
1,Manchester City,3,3,0,0,14,2,12,9,3.00,...,4,5,8,2.00,1100.000000,1000.000000,1466.666667,933.333333,1225.000000,900.000000
2,Tottenham,4,4,0,0,13,4,9,12,3.00,...,3,2,5,1.67,1100.000000,966.666667,1325.000000,900.000000,1166.666667,900.000000
3,Brighton,3,2,1,0,6,2,4,7,2.33,...,3,2,6,2.00,1033.333333,1033.333333,1200.000000,933.333333,1166.666667,900.000000
4,Manchester Utd,3,2,0,1,6,4,2,6,2.00,...,4,-2,6,2.00,1033.333333,1033.333333,1200.000000,866.666667,1066.666667,866.666667
5,Fulham,3,2,1,0,7,5,2,7,2.33,...,6,-1,4,1.00,1033.333333,950.000000,1233.333333,833.333333,1125.000000,850.000000
6,Chelsea,3,2,1,0,6,4,2,7,2.33,...,5,-3,3,1.00,1033.333333,966.666667,1200.000000,866.666667,1066.666667,833.333333
7,Liverpool,3,2,1,0,12,2,10,7,2.33,...,4,-1,2,0.67,1033.333333,900.000000,1400.000000,933.333333,1100.000000,866.666667
8,Brentford,4,2,1,1,10,6,4,7,1.75,...,6,-1,2,0.67,1000.000000,900.000000,1250.000000,850.000000,1166.666667,800.000000
9,Newcastle Utd,4,1,3,0,6,4,2,6,1.50,...,3,-1,2,0.67,950.000000,900.000000,1150.000000,900.000000,1066.666667,900.000000
10,Leeds United,3,2,1,0,6,2,4,7,2.33,...,8,-4,1,0.33,1033.333333,900.000000,1200.000000,933.333333,1133.333333,733.333333
11,Bournemouth,3,1,1,1,2,3,-1,4,1.33,...,16,-12,4,1.00,966.666667,950.000000,1066.666667,900.000000,1100.000000,600.000000
12,Everton,4,1,2,1,2,2,0,5,1.25,...,4,-1,2,0.67,950.000000,900.000000,1050.000000,950.000000,1100.000000,866.666667
13,Southampton,3,1,1,1,4,4,0,4,1.33,...,7,-4,3,0.75,966.666667,950.000000,1133.333333,866.666667,1075.000000,825.000000
14,Aston Villa,4,2,1,1,4,3,1,7,1.75,...,7,-5,0,0.00,1000.000000,900.000000,1100.000000,925.000000,1066.666667,766.666667
15,Crystal Palace,3,1,1,1,4,4,0,4,1.33,...,5,-2,2,0.67,966.666667,900.000000,1133.333333,866.666667,1100.000000,833.333333
16,Wolves,4,1,2,1,2,4,-2,5,1.25,...,3,-2,1,0.33,950.000000,900.000000,1050.000000,900.000000,1033.333333,900.000000
17,West Ham,3,0,1,2,1,5,-4,1,0.33,...,4,-2,3,0.75,900.000000,950.000000,1033.333333,833.333333,1050.000000,900.000000
18,Nott'ham Forest,4,1,0,3,5,8,-3,3,0.75,...,9,-8,1,0.33,950.000000,900.000000,1125.000000,800.000000,1033.333333,700.000000
19,Leicester City,3,0,1,2,3,5,-2,1,0.33,...,17,-10,0,0.00,900.000000,900.000000,1100.000000,833.333333,1175.000000,575.000000

In [55]:
# Extracting Squad stats such as age, possession, players used from html_text
#url = "https://fbref.com/en/comps/9/Premier-League-Stats" #current season
#data_2022 = requests.get(url)
soup = BeautifulSoup(data_2022.text)
table_squad_2022 = soup.find('table', id='stats_squads_standard_for')
# Obtain every title of columns with tag <th>
stats_squad_2022 = []
for i in table_squad_2022.find_all('td'):
    title = i.text
    stats_squad_2022.append(title)
stats_squad_2022 = [stats_squad_2022[i: i+28] for i in range(0, len(stats_squad_2022), 28)]
stats_squad_2022 = pd.DataFrame(stats_squad_2022, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2022.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2022.head()
#data.text

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,21,24.5,58.6,7,77,630,7.0,16,12,16,0,0,13,0,2.29,1.71,4.00,2.29,4.00
1,19,27.0,50.1,7,77,630,7.0,6,4,6,0,0,18,0,0.86,0.57,1.43,0.86,1.43
2,23,26.4,35.3,7,77,630,7.0,6,5,6,0,0,14,0,0.86,0.71,1.57,0.86,1.57
3,22,26.2,44.3,7,77,630,7.0,15,8,14,1,1,8,0,2.14,1.14,3.29,2.00,3.14
4,19,27.6,50.0,6,66,540,6.0,10,5,7,3,3,7,0,1.67,0.83,2.50,1.17,2.00

In [56]:
# Obtain every title of columns with tag <th>
headers = []
for i in table_squad_2022.find_all('th'):
 title = i.text
 headers.append(title)
headers

['',
 'Playing Time',
 'Performance',
 'Per 90 Minutes',
 'Expected',
 'Per 90 Minutes',
 'Squad',
 '# Pl',
 'Age',
 'Poss',
 'MP',
 'Starts',
 'Min',
 '90s',
 'Gls',
 'Ast',
 'G-PK',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls',
 'Ast',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'npxG+xA',
 'xG',
 'xA',
 'xG+xA',
 'npxG',
 'npxG+xA',
 'Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Leeds United',
 'Leicester City',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Newcastle Utd',
 "Nott'ham Forest",
 'Southampton',
 'Tottenham',
 'West Ham',
 'Wolves']

In [57]:
#Extract Team names for 2022 season
teams = headers[35:]
teams

stats_squad_2022['Squad'] = pd.DataFrame(teams, columns = ['Squad'])

stats_squad_2022.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,21,24.5,58.6,7,77,630,7.0,16,12,16,0,0,13,0,2.29,1.71,4.00,2.29,4.00,Arsenal
1,19,27.0,50.1,7,77,630,7.0,6,4,6,0,0,18,0,0.86,0.57,1.43,0.86,1.43,Aston Villa
2,23,26.4,35.3,7,77,630,7.0,6,5,6,0,0,14,0,0.86,0.71,1.57,0.86,1.57,Bournemouth
3,22,26.2,44.3,7,77,630,7.0,15,8,14,1,1,8,0,2.14,1.14,3.29,2.00,3.14,Brentford
4,19,27.6,50.0,6,66,540,6.0,10,5,7,3,3,7,0,1.67,0.83,2.50,1.17,2.00,Brighton

### Extract Squad information

In [70]:
# Extracting respective season squad stats text from html_text
tables_squads = []
for tags in html_text:
    soup = BeautifulSoup(tags.text)
    table_squad = soup.find('table', id='stats_squads_standard_for')
    #id_text = soup.find('div', id=[f"all_results{table}91" for table in tables_seasons])
    tables_squads.append(table_squad)

In [71]:
#Extracting Squad stats such as age, possession, players used from html_text for 2021
stats_squad_2021 = []
for index in tables_squads[0].find_all('td'):
    title = index.text
    stats_squad_2021.append(title)
stats_squad_2021 = [stats_squad_2021[i: i+28] for i in range(0, len(stats_squad_2021), 28)]
stats_squad_2021
stats_squad_2021 = pd.DataFrame(stats_squad_2021, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2021.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2021.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,27,24.4,53.2,38,418,"3,420",38.0,60,41,55,5,8,67,4,1.58,1.08,2.66,1.45,2.53
1,31,26.1,46.5,38,418,"3,420",38.0,50,42,47,3,3,81,2,1.32,1.11,2.42,1.24,2.34
2,29,25.4,44.5,38,418,"3,420",38.0,46,33,40,6,6,65,3,1.21,0.87,2.08,1.05,1.92
3,26,26.2,54.7,38,418,"3,420",38.0,40,30,36,4,7,72,2,1.05,0.79,1.84,0.95,1.74
4,23,28.5,39.8,38,418,"3,420",38.0,32,26,31,1,2,68,2,0.84,0.68,1.53,0.82,1.50

In [72]:
# Create Squad column in the stats_squad data frame
teams_2021 = ['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leeds United', 
'Leicester City', 'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Norwich City', 'Southampton', 'Tottenham', 
'Watford', 'West Ham', 'Wolves']

stats_squad_2021['Squad'] = pd.DataFrame(teams_2021, columns = ['Squad'])

stats_squad_2021.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,27,24.4,53.2,38,418,"3,420",38.0,60,41,55,5,8,67,4,1.58,1.08,2.66,1.45,2.53,Arsenal
1,31,26.1,46.5,38,418,"3,420",38.0,50,42,47,3,3,81,2,1.32,1.11,2.42,1.24,2.34,Aston Villa
2,29,25.4,44.5,38,418,"3,420",38.0,46,33,40,6,6,65,3,1.21,0.87,2.08,1.05,1.92,Brentford
3,26,26.2,54.7,38,418,"3,420",38.0,40,30,36,4,7,72,2,1.05,0.79,1.84,0.95,1.74,Brighton
4,23,28.5,39.8,38,418,"3,420",38.0,32,26,31,1,2,68,2,0.84,0.68,1.53,0.82,1.50,Burnley

In [73]:
#Extracting Squad stats such as age, possession, players used from html_text for 2020
stats_squad_2020 = []
for index in tables_squads[1].find_all('td'):
    title = index.text
    stats_squad_2020.append(title)
stats_squad_2020 = [stats_squad_2020[i: i+28] for i in range(0, len(stats_squad_2020), 28)]
stats_squad_2020
stats_squad_2020 = pd.DataFrame(stats_squad_2020, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2020.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2020.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,29,25.9,53.8,38,418,"3,420",38.0,53,38,47,6,6,49,5,1.39,1.00,2.39,1.24,2.24
1,24,25.2,48.1,38,418,"3,420",38.0,52,38,47,5,6,71,4,1.37,1.00,2.37,1.24,2.24
2,27,25.8,51.3,38,418,"3,420",38.0,39,24,33,6,9,49,6,1.03,0.63,1.66,0.87,1.50
3,25,28.3,41.7,38,418,"3,420",38.0,32,20,29,3,3,48,0,0.84,0.53,1.37,0.76,1.29
4,27,26.0,61.4,38,418,"3,420",38.0,56,38,48,8,10,51,3,1.47,1.00,2.47,1.26,2.26

In [74]:
# Create Squad column in the stats_squad data frame
teams_2020 = ['Arsenal', 'Aston Villa', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds United', 
'Leicester City', 'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Sheffield United', 'Southampton', 'Tottenham', 
'West Brom', 'West Ham', 'Wolves']

stats_squad_2020['Squad'] = pd.DataFrame(teams_2020, columns = ['Squad'])

stats_squad_2020.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,29,25.9,53.8,38,418,"3,420",38.0,53,38,47,6,6,49,5,1.39,1.00,2.39,1.24,2.24,Arsenal
1,24,25.2,48.1,38,418,"3,420",38.0,52,38,47,5,6,71,4,1.37,1.00,2.37,1.24,2.24,Aston Villa
2,27,25.8,51.3,38,418,"3,420",38.0,39,24,33,6,9,49,6,1.03,0.63,1.66,0.87,1.50,Brighton
3,25,28.3,41.7,38,418,"3,420",38.0,32,20,29,3,3,48,0,0.84,0.53,1.37,0.76,1.29,Burnley
4,27,26.0,61.4,38,418,"3,420",38.0,56,38,48,8,10,51,3,1.47,1.00,2.47,1.26,2.26,Chelsea

In [75]:
#Extracting Squad stats such as age, possession, players used from html_text for 2019
stats_squad_2019 = []
for index in tables_squads[2].find_all('td'):
    title = index.text
    stats_squad_2019.append(title)
stats_squad_2019 = [stats_squad_2019[i: i+28] for i in range(0, len(stats_squad_2019), 28)]
stats_squad_2019
stats_squad_2019 = pd.DataFrame(stats_squad_2019, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2019.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2019.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,29,25.8,54.0,38,418,"3,420",38.0,56,35,53,3,3,88,5,1.47,0.92,2.39,1.39,2.32
1,28,25.7,43.9,38,418,"3,420",38.0,40,32,39,1,3,70,1,1.05,0.84,1.89,1.03,1.87
2,27,25.2,43.8,38,418,"3,420",38.0,38,24,34,4,4,78,3,1.00,0.63,1.63,0.89,1.53
3,25,26.4,52.2,38,418,"3,420",38.0,35,24,34,1,2,59,2,0.92,0.63,1.55,0.89,1.53
4,22,28.0,41.4,38,418,"3,420",38.0,41,30,38,3,3,67,0,1.08,0.79,1.87,1.00,1.79

In [76]:
# Create Squad column in the stats_squad data frame
teams_2019 = ['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leicester City', 
'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Norwich City', 'Sheffield United', 'Southampton', 'Tottenham', 
'Watford', 'West Ham', 'Wolves']

stats_squad_2019['Squad'] = pd.DataFrame(teams_2019, columns = ['Squad'])

stats_squad_2019.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,29,25.8,54.0,38,418,"3,420",38.0,56,35,53,3,3,88,5,1.47,0.92,2.39,1.39,2.32,Arsenal
1,28,25.7,43.9,38,418,"3,420",38.0,40,32,39,1,3,70,1,1.05,0.84,1.89,1.03,1.87,Aston Villa
2,27,25.2,43.8,38,418,"3,420",38.0,38,24,34,4,4,78,3,1.00,0.63,1.63,0.89,1.53,Bournemouth
3,25,26.4,52.2,38,418,"3,420",38.0,35,24,34,1,2,59,2,0.92,0.63,1.55,0.89,1.53,Brighton
4,22,28.0,41.4,38,418,"3,420",38.0,41,30,38,3,3,67,0,1.08,0.79,1.87,1.00,1.79,Burnley

In [77]:
#Extracting Squad stats such as age, possession, players used from html_text for 2018
stats_squad_2018 = []
for index in tables_squads[3].find_all('td'):
    title = index.text
    stats_squad_2018.append(title)
stats_squad_2018 = [stats_squad_2018[i: i+28] for i in range(0, len(stats_squad_2018), 28)]
stats_squad_2018
stats_squad_2018 = pd.DataFrame(stats_squad_2018, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2018.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2018.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,28,26.7,58.0,38,418,"3,420",38.0,69,52,65,4,5,73,2,1.82,1.37,3.18,1.71,3.08
1,28,26.6,46.8,38,418,"3,420",38.0,55,43,48,7,9,60,1,1.45,1.13,2.58,1.26,2.39
2,21,27.4,42.6,38,418,"3,420",38.0,35,24,30,5,6,61,4,0.92,0.63,1.55,0.79,1.42
3,23,28.0,41.2,38,418,"3,420",38.0,43,32,41,2,2,75,1,1.13,0.84,1.97,1.08,1.92
4,25,27.7,35.6,38,418,"3,420",38.0,33,20,30,3,4,66,1,0.87,0.53,1.39,0.79,1.32

In [78]:
# Create Squad column in the stats_squad data frame
teams_2018 = ['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff City', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leicester City', 
'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves']

stats_squad_2018['Squad'] = pd.DataFrame(teams_2018, columns = ['Squad'])

stats_squad_2018.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,28,26.7,58.0,38,418,"3,420",38.0,69,52,65,4,5,73,2,1.82,1.37,3.18,1.71,3.08,Arsenal
1,28,26.6,46.8,38,418,"3,420",38.0,55,43,48,7,9,60,1,1.45,1.13,2.58,1.26,2.39,Bournemouth
2,21,27.4,42.6,38,418,"3,420",38.0,35,24,30,5,6,61,4,0.92,0.63,1.55,0.79,1.42,Brighton
3,23,28.0,41.2,38,418,"3,420",38.0,43,32,41,2,2,75,1,1.13,0.84,1.97,1.08,1.92,Burnley
4,25,27.7,35.6,38,418,"3,420",38.0,33,20,30,3,4,66,1,0.87,0.53,1.39,0.79,1.32,Cardiff City

In [79]:
#Extracting Squad stats such as age, possession, players used from html_text for 2017
stats_squad_2017 = []
for index in tables_squads[4].find_all('td'):
    title = index.text
    stats_squad_2017.append(title)
stats_squad_2017 = [stats_squad_2017[i: i+28] for i in range(0, len(stats_squad_2017), 28)]
stats_squad_2017
stats_squad_2017 = pd.DataFrame(stats_squad_2017, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'])
stats_squad_2017.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2017.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,30,26.8,61.5,38,418,"3,420",38.0,73,61,69,4,5,,,1.92,1.61,3.53,1.82,3.42
1,22,26.9,47.8,38,418,"3,420",38.0,45,36,42,3,3,,,1.18,0.95,2.13,1.11,2.05
2,24,27.5,43.7,38,418,"3,420",38.0,33,25,28,5,7,,,0.87,0.66,1.53,0.74,1.39
3,24,27.5,43.9,38,418,"3,420",38.0,35,26,35,0,0,,,0.92,0.68,1.61,0.92,1.61
4,26,26.7,55.4,38,418,"3,420",38.0,60,42,57,3,3,,,1.58,1.11,2.68,1.50,2.61

In [80]:
# Create Squad column in the stats_squad data frame
teams_2017 = ['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester City', 
'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Southampton', 'Stoke City', 'Tottenham', 'Watford', 'West Brom', 'West Ham']

stats_squad_2017['Squad'] = pd.DataFrame(teams_2017, columns = ['Squad'])

stats_squad_2017.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,30,26.8,61.5,38,418,"3,420",38.0,73,61,69,4,5,,,1.92,1.61,3.53,1.82,3.42,Arsenal
1,22,26.9,47.8,38,418,"3,420",38.0,45,36,42,3,3,,,1.18,0.95,2.13,1.11,2.05,Bournemouth
2,24,27.5,43.7,38,418,"3,420",38.0,33,25,28,5,7,,,0.87,0.66,1.53,0.74,1.39,Brighton
3,24,27.5,43.9,38,418,"3,420",38.0,35,26,35,0,0,,,0.92,0.68,1.61,0.92,1.61,Burnley
4,26,26.7,55.4,38,418,"3,420",38.0,60,42,57,3,3,,,1.58,1.11,2.68,1.50,2.61,Chelsea

In [81]:
#Extracting Squad stats such as age, possession, players used from html_text for 2016
stats_squad_2016 = []
for index in tables_squads[5].find_all('td'):
    title = index.text
    stats_squad_2016.append(title)
stats_squad_2016 = [stats_squad_2016[i: i+19] for i in range(0, len(stats_squad_2016), 19)]
stats_squad_2016
stats_squad_2016 = pd.DataFrame(stats_squad_2016, columns = ['# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK'])
#stats_squad_2016.drop(['xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'], axis=1, inplace=True)
stats_squad_2016.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,29,26.9,58.9,38,418,"3,420",38.0,73,55,69,4,6,0,0,1.92,1.45,3.37,1.82,3.26
1,27,27.0,51.5,38,418,"3,420",38.0,53,33,46,7,10,0,2,1.39,0.87,2.26,1.21,2.08
2,27,27.7,40.3,38,418,"3,420",38.0,39,24,33,6,6,0,1,1.03,0.63,1.66,0.87,1.50
3,24,27.2,55.1,38,418,"3,420",38.0,83,53,81,2,4,0,0,2.18,1.39,3.58,2.13,3.53
4,31,27.7,45.4,38,418,"3,420",38.0,48,32,44,4,7,0,0,1.26,0.84,2.11,1.16,2.00

In [82]:
# Create Squad column in the stats_squad data frame
teams_2016 = ['Arsenal', 'Bournemouth', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Hull City', 'Leicester City', 
'Liverpool', 'Manchester City', 'Manchester Utd', 'Middlesbrough', 'Southampton', 'Stoke City', 'Sunderland', 'Swansea City' 'Tottenham', 'Watford', 'West Brom', 'West Ham']

stats_squad_2016['Squad'] = pd.DataFrame(teams_2016, columns = ['Squad'])

stats_squad_2016.head()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Squad
0,29,26.9,58.9,38,418,"3,420",38.0,73,55,69,4,6,0,0,1.92,1.45,3.37,1.82,3.26,Arsenal
1,27,27.0,51.5,38,418,"3,420",38.0,53,33,46,7,10,0,2,1.39,0.87,2.26,1.21,2.08,Bournemouth
2,27,27.7,40.3,38,418,"3,420",38.0,39,24,33,6,6,0,1,1.03,0.63,1.66,0.87,1.50,Burnley
3,24,27.2,55.1,38,418,"3,420",38.0,83,53,81,2,4,0,0,2.18,1.39,3.58,2.13,3.53,Chelsea
4,31,27.7,45.4,38,418,"3,420",38.0,48,32,44,4,7,0,0,1.26,0.84,2.11,1.16,2.00,Crystal Palace

Extract Individual Player Stats

In [211]:
# Scraping overall league table html tags for all the seasons
team_2021 = ['b8fd03ef/2021-2022/Manchester-City', '/822bd0ba/2021-2022/Liverpool', '/cff3d9bb/2021-2022/Chelsea', '/361ca564/2021-2022/Tottenham-Hotspur',
'/18bb7c10/2021-2022/Arsenal', '/19538871/2021-2022/Manchester-United', '/7c21e445/2021-2022/West-Ham-United',
'/a2d435b3/2021-2022/Leicester', '/d07537b9/2021-2022/Brighton-and-Hove-Albion', '/8cec06e1/2021-2022/Wolverhampton-Wanderers',
'/b2b47a98/2021-2022/Newcastle-United', '/47c64c55/2021-2022/Crystal-Palace', '/cd051869/2021-2022/Brentford-Stats',
'/8602292d/2021-2022/Aston-Villa', '/33c895d4/2021-2022/Southampton', '/d3fd31cc/2021-2022/Everton', 
 '/5bfb9659/2021-2022/Leeds-United', '/943e8050/2021-2022/Burnley', '/2abfe087/2021-2022/Watford', '/1c781004/2021-2022/Norwich-City']
data = []
i = 0
html_text = []
for team in team_2021:
    url = f"https://fbref.com/en/squads{team}-Stats"
    data.append(url)
    data
    html = requests.get(data[i])
    i+=1
    html_text.append(html)

In [220]:
html_text

[<Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>]

In [216]:
#Extracting respective season league table text from html_text
#players_2021 = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
players_2021 = []
for tags in html_text[0]:
    soup = BeautifulSoup(tags)
    id_text = soup.find('table', id='stats_table')
    players_2021.append(id_text)

In [217]:

players_2021

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [ ]:
data.text

In [208]:
#team_mci_2021 =data[0]
#data = requests.get(team_mci_2021)

mci_2020_players = pd.read_html(data.text, id='stats_standard_9')[0]

TypeError: read_html() got an unexpected keyword argument 'id'

In [199]:
data

['https://fbref.com/en/squadsb8fd03ef/2021-2022/Manchester-City-Stats',
 'https://fbref.com/en/squads/822bd0ba/2021-2022/Liverpool-Stats',
 'https://fbref.com/en/squads/cff3d9bb/2021-2022/Chelsea-Stats',
 'https://fbref.com/en/squads/361ca564/2021-2022/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/18bb7c10/2021-2022/Arsenal-Stats',
 'https://fbref.com/en/squads/19538871/2021-2022/Manchester-United-Stats',
 'https://fbref.com/en/squads/7c21e445/2021-2022/West-Ham-United-Stats',
 'https://fbref.com/en/squads/a2d435b3/2021-2022/Leicester-Stats',
 'https://fbref.com/en/squads/d07537b9/2021-2022/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/8cec06e1/2021-2022/Wolverhampton-Wanderers-Stats',
 'https://fbref.com/en/squads/b2b47a98/2021-2022/Newcastle-United-Stats',
 'https://fbref.com/en/squads/47c64c55/2021-2022/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/cd051869/2021-2022/Brentford-Stats-Stats',
 'https://fbref.com/en/squads/8602292d/2021-2022/Aston-Villa-Stats',
 'https://fbref.com/en/squads/33c895d4/2021-2022/Southampton-Stats',
 'https://fbref.com/en/squads/d3fd31cc/2021-2022/Everton-Stats',
 'https://fbref.com/en/squads/5bfb9659/2021-2022/Leeds-United-Stats',
 'https://fbref.com/en/squads/943e8050/2021-2022/Burnley-Stats',
 'https://fbref.com/en/squads/2abfe087/2021-2022/Watford-Stats',
 'https://fbref.com/en/squads/1c781004/2021-2022/Norwich-City-Stats']

In [197]:
# Extracting respective season league table text from html_text
#players_2021 = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
#players_2021 = []
#for tags in html_text[0]:
#    soup = BeautifulSoup(tags)
#    id_text = soup.find('table', id='stats_standard_9')
#    players_2021.append(id_text)

##
players_2021 = []
for index in html_text[0].select('td'):
    title = index.text
    players_2021.append(title)
players_2021
#league_home_away_2016 = [league_home_away_2016[i: i+19] for i in range(0, len(league_home_away_2016), 19)]
#league_home_away_2016 = pd.DataFrame(league_home_away_2016, columns = ['Squad', 'H_MP', 'H_W', 'H_D', 'H_L', 'H_GF', 'H_GA', 'H_GD', 'H_Pts', 'H_Pts/MP', 'A_MP', 'A_W', 'A_D', 'A_L', 'A_GF', 'A_GA', 'A_GD', 'A_Pts', 'A_Pts/MP'])
#league_home_away_2016.drop(['H_xG', 'H_xGA', 'H_xGD', 'H_xGD/90', 'A_xG', 'A_xGA', 'A_xGD', 'A_xGD/90'], axis=1, inplace=True)
#league_table_2021['Rank'] = range(1, 1+len(league_table_2021))
#league_home_away_2016.head()

AttributeError: 'Response' object has no attribute 'select'

In [195]:
players_2021

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [ ]:
# Scraping overall league table html tags for all the seasons
seasons_2021 = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
data = []
i = 0
html_text = []
for season in seasons:
    url = f"https://fbref.com/en/squads/cff3d9bb/{season}/Chelsea-Stats"
    data.append(url)
    html = requests.get(data[i])
    i+=1
    html_text.append(html)

In [ ]:
https://fbref.com/en/squads/cff3d9bb/2016-2017/Chelsea-Stats

In [ ]:
# Extracting respective season league table text from html_text
player_seasons = ['2021-2022', '2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017']
tables = []
for tags in html_text:
    soup = BeautifulSoup(tags.text)
    id_text = soup.find('table', id=[f"results{table}91_overall" for table in tables_seasons])
    tables.append(id_text)

In [144]:
players_table =soup.select('table.stats_table')[0:3]

In [145]:
links = players_table.find_all('a')
links

AttributeError: 'list' object has no attribute 'find_all'

In [169]:
# Extracting overall current season league table text from html_text
url_2022 = "https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats" #current season
data_2022 = requests.get(url_2022)
soup = BeautifulSoup(data_2022.text)
table_2022 = soup.find('table', id='stats_standard_9')
# Obtain every title of columns with tag <th>
mcplayers_2022 = []
for i in table_2022.find_all('td'):
    title = i.text
    mcplayers_2022.append(title)
mcplayers_2022 = [mcplayers_2022[i: i+29] for i in range(0, len(mcplayers_2022), 29)]
mcplayers_2022
mcplayers_2022 = pd.DataFrame(mcplayers_2022, columns = ['Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA', 'Matches'])
mcplayers_2022.drop(['Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA', 'Matches'], axis=1, inplace=True)
mcplayers_2022.head()
#data.text

    Nation Pos     Age MP Starts  Min  90s PK PKatt CrdY CrdR
0   br BRA  GK  29-035  7      7  630  7.0  0     0    0    0
1   es ESP  MF  26-091  7      7  582  6.5  0     0    1    0
2   pt POR  DF  28-117  7      7  577  6.4  0     0    2    0
3   no NOR  FW  22-062  7      7  571  6.3  1     1    0    0
4  eng ENG  FW  22-116  7      7  527  5.9  0     0    1    0

In [146]:
# Obtain every title of columns with tag <th>
headers = []
for i in table_2022.find_all('th'):
 title = i.text
 headers.append(title)
headers

['',
 'Playing Time',
 'Performance',
 'Per 90 Minutes',
 'Expected',
 'Per 90 Minutes',
 '',
 'Player',
 'Nation',
 'Pos',
 'Age',
 'MP',
 'Starts',
 'Min',
 '90s',
 'Gls',
 'Ast',
 'G-PK',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'Gls',
 'Ast',
 'G+A',
 'G-PK',
 'G+A-PK',
 'xG',
 'npxG',
 'xA',
 'npxG+xA',
 'xG',
 'xA',
 'xG+xA',
 'npxG',
 'npxG+xA',
 'Matches',
 'Ederson',
 'Rodri',
 'João Cancelo',
 'Erling Haaland',
 'Phil Foden',
 'Rúben Dias',
 'Kevin De Bruyne',
 'Kyle Walker',
 'John Stones',
 'İlkay Gündoğan',
 'Bernardo Silva',
 'Nathan Aké',
 'Riyad Mahrez',
 'Jack Grealish',
 'Julián Álvarez',
 'Manuel Akanji',
 'Cole Palmer',
 'Sergio Gómez',
 'Rico Lewis',
 'Kalvin Phillips',
 'Scott Carson',
 'Liam Delap',
 'Claudio Gomes',
 'Ben Knight',
 'Luke Mbete-Tatu',
 'Stefan Ortega',
 'Josh Wilson-Esbrand',
 'Squad Total',
 'Opponent Total']

In [171]:
#Extract Team names for 2022 season
players_2022 = headers[37:64]
players_2022

#df['Price'] = pd.Series(Price)
mcplayers_2022['Player'] = pd.DataFrame(players_2022, columns = ['Player'])

mcplayers_2022.head()

    Nation Pos     Age MP Starts  Min  90s PK PKatt CrdY CrdR          Player
0   br BRA  GK  29-035  7      7  630  7.0  0     0    0    0         Ederson
1   es ESP  MF  26-091  7      7  582  6.5  0     0    1    0           Rodri
2   pt POR  DF  28-117  7      7  577  6.4  0     0    2    0    João Cancelo
3   no NOR  FW  22-062  7      7  571  6.3  1     1    0    0  Erling Haaland
4  eng ENG  FW  22-116  7      7  527  5.9  0     0    1    0      Phil Foden

In [84]:
stats_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

stats = requests.get(stats_url)

#stats.text

In [85]:
soup = BeautifulSoup(stats.text)

In [86]:
stats_table =soup.select('table.stats_table')[0]

In [95]:
links = stats_table.find_all('a')

In [96]:
links = [l.get("href") for l in links]

In [97]:
links = [l for l in links if '/squads/' in l]

In [98]:
links

['/en/squads/18bb7c10/Arsenal-Stats',
 '/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/squads/361ca564/Tottenham-Hotspur-Stats',
 '/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 '/en/squads/19538871/Manchester-United-Stats',
 '/en/squads/fd962109/Fulham-Stats',
 '/en/squads/cff3d9bb/Chelsea-Stats',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/squads/cd051869/Brentford-Stats',
 '/en/squads/b2b47a98/Newcastle-United-Stats',
 '/en/squads/5bfb9659/Leeds-United-Stats',
 '/en/squads/4ba7cbea/Bournemouth-Stats',
 '/en/squads/d3fd31cc/Everton-Stats',
 '/en/squads/33c895d4/Southampton-Stats',
 '/en/squads/8602292d/Aston-Villa-Stats',
 '/en/squads/47c64c55/Crystal-Palace-Stats',
 '/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 '/en/squads/7c21e445/West-Ham-United-Stats',
 '/en/squads/e4a775cb/Nottingham-Forest-Stats',
 '/en/squads/a2d435b3/Leicester-City-Stats']

In [99]:
teams_url = [f"https://fbref.com{l}" for l in links]
teams_url

['https://fbref.com/en/squads/18bb7c10/Arsenal-Stats',
 'https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats',
 'https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/19538871/Manchester-United-Stats',
 'https://fbref.com/en/squads/fd962109/Fulham-Stats',
 'https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats',
 'https://fbref.com/en/squads/822bd0ba/Liverpool-Stats',
 'https://fbref.com/en/squads/cd051869/Brentford-Stats',
 'https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats',
 'https://fbref.com/en/squads/5bfb9659/Leeds-United-Stats',
 'https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats',
 'https://fbref.com/en/squads/d3fd31cc/Everton-Stats',
 'https://fbref.com/en/squads/33c895d4/Southampton-Stats',
 'https://fbref.com/en/squads/8602292d/Aston-Villa-Stats',
 'https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 'https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats',
 'https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats',
 'https://fbref.com/en/squads/a2d435b3/Leicester-City-Stats']

In [100]:
team_Ars = teams_url[0]
data = requests.get(team_Ars)

In [106]:
matches = pd.read_html(data.text, match= 'Standard Stats')[0]

In [108]:
matches

      Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Player             Nation                Pos
0     Gabriel Dos Santos             br BRA                 DF
1         Aaron Ramsdale            eng ENG                 GK
2         William Saliba             fr FRA                 DF
3           Granit Xhaka             ch SUI                 MF
4            Bukayo Saka            eng ENG                 FW
5          Gabriel Jesus             br BRA                 FW
6             Martinelli             br BRA                 FW
7              Ben White            eng ENG                 DF
8        Martin Ødegaard             no NOR                 MF
9          Thomas Partey             gh GHA                 MF
10   Oleksandr Zinchenko             ua UKR                 DF
11        Kieran Tierney            sct SCO                 DF
12  Albert Sambi Lokonga             be BEL                 MF
13          Fabio Vieira             pt POR                 MF
14        Mohamed Elneny             eg EGY                 MF
15         Eddie Nketiah            eng ENG                 FW
16     Takehiro Tomiyasu             jp JPN                 DF
17      Emile Smith Rowe            eng ENG              MF,FW
18           Rob Holding            eng ENG                 DF
19            Marquinhos             br BRA                 FW
20         Ethan Nwaneri            eng ENG                 MF
21          Reiss Nelson            eng ENG              FW,MF
22          Nicolas Pépé             ci CIV              FW,MF
23         Matthew Smith            eng ENG                 MF
24         Cédric Soares             pt POR              DF,MF
25            Lino Sousa            eng ENG                 DF
26           Matt Turner             us USA                 GK
27           Squad Total                NaN                NaN
28        Opponent Total                NaN                NaN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Playing Time             Performance  \
                  Age                 MP       Starts    Min  90s         Gls
0              24-276                  7            7  630.0  7.0         1.0
1              24-130                  7            7  630.0  7.0         0.0
2              21-181                  7            7  630.0  7.0         2.0
3              29-359                  7            7  627.0  7.0         1.0
4              21-016                  7            7  616.0  6.8         1.0
5              25-171                  7            7  610.0  6.8         4.0
6              21-095                  7            7  600.0  6.7         3.0
7              24-348                  7            7  556.0  6.2         0.0
8              23-278                  6            6  494.0  5.5         3.0
9              29-100                  4            4  347.0  3.9         0.0
10             25-280                  4            4  321.0  3.6         0.0
11             25-108                  6            3  265.0  2.9         0.0
12             22-334                  5            2  180.0  2.0         0.0
13             22-114                  2            1  106.0  1.2         1.0
14             30-072                  1            1   90.0  1.0         0.0
15             23-114                  7            0   95.0  1.1         0.0
16             23-320                  6            0   76.0  0.8         0.0
17             22-055                  4            0   51.0  0.6         0.0
18             27-001                  2            0    4.0  0.0         0.0
19             19-167                  1            0    1.0  0.0         0.0
20             15-184                  1            0    1.0  0.0         0.0
21             22-285                  0            0    NaN  NaN         NaN
22             27-115                  0            0    NaN  NaN         NaN
23             21-351                  0            0    NaN  NaN         NaN
24             31-021                  0            0    NaN  NaN         NaN
25             17-245                  0            0    NaN  NaN         NaN
26             28-089                  0            0    NaN  NaN         NaN
27               24.5                  7           77  630.0  7.0        16.0
28               26.9                  7           77  630.0  7.0         6.0

          ... Expected                    Per 90 Minutes                    \
     Ast  ...       xG  npxG   xA npxG+xA             xG    xA xG+xA  npxG
0    0.0  ...      1.3   1.3  0.0     1.3           0.19  0.00  0.19  0.19
1    0.0  ...      0.0   0.0  0.0     0.0           0.00  0.00  0.00  0.00
2    1.0  ...      0.3   0.3  0.9     1.1           0.04  0.13  0.16  0.04
3    3.0  ...      0.8   0.8  0.9     1.8           0.12  0.13  0.26  0.12
4    4.0  ...      1.6   1.6  0.9     2.5           0.23  0.13  0.36  0.23
5    3.0  ...      3.7   3.7  1.5     5.3           0.55  0.22  0.78  0.55
6    0.0  ...      2.0   2.0  1.9     3.9           0.31  0.28  0.59  0.31
7    0.0  ...      0.0   0.0  0.6     0.6           0.00  0.09  0.09  0.00
8    0.0  ...      1.7   1.7  0.6     2.3           0.32  0.10  0.42  0.32
9    0.0  ...      0.3   0.3  0.0     0.3           0.08  0.00  0.08  0.08
10   1.0  ...      0.1   0.1  0.3     0.4           0.04  0.07  0.11  0.04
11   0.0  ...      0.2   0.2  0.1     0.3           0.06  0.04  0.10  0.06
12   0.0  ...      0.0   0.0  0.0     0.0           0.00  0.01  0.01  0.00
13   0.0  ...      0.1   0.1  0.0     0.1           0.08  0.04  0.12  0.08
14   0.0  ...      0.0   0.0  0.0     0.0           0.00  0.00  0.00  0.00
15   0.0  ...      0.7   0.7  0.2     0.9           0.67  0.16  0.83  0.67
16   0.0  ...      0.0   0.0  0.1     0.1           0.00  0.06  0.06  0.00
17   0.0  ...      0.2   0.2  0.5     0.6           0.28  0.81  1.09  0.28
18   0.0  ...      0.0   0.0  0.0     0.0           0.00  0.00  0.00  0.00
19   0.0  ...      0.0   0.0  0.0     0.0           0.00  0.00  0.00  0.00
20   0.0  ...      0.0   0.0  0.0     0.0           0.00  0.00  0.00  0.00
21   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
22   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
23   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
24   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
25   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
26   NaN  ...      NaN   NaN  NaN     NaN            NaN   NaN   NaN   NaN
27  12.0  ...     12.8  12.8  8.4    21.1           1.82  1.19  3.02  1.82
28   4.0  ...      5.4   5.4  4.6    10.0           0.78  0.66  1.43  0.78

           Unnamed: 29_level_0
   npxG+xA             Matches
0     0.19             Matches
1     0.00             Matches
2     0.16             Matches
3     0.26             Matches
4     0.36             Matches
5     0.78             Matches
6     0.59             Matches
7     0.09             Matches
8     0.42             Matches
9     0.08             Matches
10    0.11             Matches
11    0.10             Matches
12    0.01             Matches
13    0.12             Matches
14    0.00             Matches
15    0.83             Matches
16    0.06             Matches
17    1.09             Matches
18    0.00             Matches
19    0.00             Matches
20    0.00             Matches
21     NaN             Matches
22     NaN             Matches
23     NaN             Matches
24     NaN             Matches
25     NaN             Matches
26     NaN             Matches
27    3.02                 NaN
28    1.43                 NaN

[29 rows x 30 columns]

In [111]:
matches.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches
0,Gabriel Dos Santos,br BRA,DF,24-276,7,7,630.0,7.0,1.0,0.0,...,1.3,1.3,0.0,1.3,0.19,0.00,0.19,0.19,0.19,Matches
1,Aaron Ramsdale,eng ENG,GK,24-130,7,7,630.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
2,William Saliba,fr FRA,DF,21-181,7,7,630.0,7.0,2.0,1.0,...,0.3,0.3,0.9,1.1,0.04,0.13,0.16,0.04,0.16,Matches
3,Granit Xhaka,ch SUI,MF,29-359,7,7,627.0,7.0,1.0,3.0,...,0.8,0.8,0.9,1.8,0.12,0.13,0.26,0.12,0.26,Matches
4,Bukayo Saka,eng ENG,FW,21-016,7,7,616.0,6.8,1.0,4.0,...,1.6,1.6,0.9,2.5,0.23,0.13,0.36,0.23,0.36,Matches

In [110]:
matches.columns = matches.columns.droplevel()

In [128]:
years = list(range(2022,2020, -1))

In [129]:
years

[2022, 2021]

In [130]:
all_ARS = []

In [131]:
stats_urls = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [132]:
import time
for year in years:
    data = requests.get(stats_url)
    soup = BeautifulSoup(data.text)
    stats_table =soup.select('table.stats_table')

    links = [l.get("href") for l in stats_table.find_all('a')]
    links = [l for l in links if '/squads/' in l]
    teams_urls = [f"https://fbref.com{l}" for l in links]

    previous_season = soup.select("a.prev")[0].get("href")
    prev_url = f"https://fref.com/{previous_season}"

    for team_url in teams_urls:
        team_name = team_url.split("/")[-1].replace("Stats", "").replace("-", " ")

        data = requests.get(team_url)
        players = pd.read_html(data.text, match="Standard Stats")[0]
        players.columns = players.columns.droplevel()

        #soup = BeautifulSoup(data.text)
        #links = [l.get("href") for l in soup.find_all('a')]
        #links = [l for l in links if l in l]
        #data = requests.get(f"https://fbref.com{links[0]}")

        players["Season"] = year
        players["Team"] = team_name
        players.append(players)
        time.sleep(1)

In [122]:
team_url.split("/")[-1].replace("Stats", "").replace("-", " ")

'Leicester City '

In [137]:
players.head(26)

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,Season,Team
0,Jonny Evans,nir NIR,DF,34-261,7,7,630.0,7.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,2021,Leicester City
1,James Justin,eng ENG,DF,24-210,7,7,630.0,7.0,0.0,0.0,...,0.3,0.4,0.02,0.04,0.06,0.02,0.06,Matches,2021,Leicester City
2,Danny Ward,wls WAL,GK,29-091,7,7,630.0,7.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,2021,Leicester City
3,James Maddison,eng ENG,"MF,FW",25-302,6,6,540.0,6.0,3.0,1.0,...,0.5,1.5,0.16,0.08,0.25,0.16,0.25,Matches,2021,Leicester City
4,Wilfred Ndidi,ng NGA,"MF,DF",25-279,7,6,536.0,6.0,0.0,0.0,...,0.0,0.1,0.01,0.00,0.01,0.01,0.01,Matches,2021,Leicester City
5,Kiernan Dewsbury-Hall,eng ENG,MF,24-015,7,6,524.0,5.8,1.0,0.0,...,0.5,0.7,0.04,0.09,0.12,0.04,0.12,Matches,2021,Leicester City
6,Youri Tielemans,be BEL,MF,25-137,7,6,502.0,5.6,1.0,1.0,...,1.6,1.8,0.18,0.29,0.47,0.04,0.33,Matches,2021,Leicester City
7,Timothy Castagne,be BEL,DF,26-290,6,5,495.0,5.5,1.0,1.0,...,0.1,0.5,0.07,0.02,0.09,0.07,0.09,Matches,2021,Leicester City
8,Jamie Vardy,eng ENG,FW,35-253,7,5,435.0,4.8,0.0,2.0,...,0.4,1.3,0.19,0.09,0.28,0.19,0.28,Matches,2021,Leicester City
9,Harvey Barnes,eng ENG,"MF,FW",24-286,5,5,390.0,4.3,1.0,0.0,...,0.0,1.0,0.22,0.00,0.22,0.22,0.22,Matches,2021,Leicester City
10,Daniel Amartey,gh GHA,DF,27-274,5,4,351.0,3.9,0.0,0.0,...,0.1,0.1,0.00,0.03,0.03,0.00,0.03,Matches,2021,Leicester City
11,Boubakary Soumaré,fr FRA,MF,23-206,4,3,221.0,2.5,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,2021,Leicester City
12,Patson Daka,zm ZAM,FW,23-347,6,2,239.0,2.7,1.0,1.0,...,1.1,1.9,0.31,0.41,0.72,0.31,0.72,Matches,2021,Leicester City
13,Wesley Fofana,fr FRA,DF,21-278,2,2,180.0,2.0,0.0,0.0,...,0.0,0.4,0.18,0.00,0.18,0.18,0.18,Matches,2021,Leicester City
14,Luke Thomas,eng ENG,DF,21-103,2,2,180.0,2.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,2021,Leicester City
15,Kelechi Iheanacho,ng NGA,FW,25-353,6,1,175.0,1.9,1.0,1.0,...,0.2,1.5,0.64,0.11,0.75,0.64,0.75,Matches,2021,Leicester City
16,Ayoze Pérez,es ESP,MF,29-054,2,1,100.0,1.1,0.0,0.0,...,0.4,0.5,0.10,0.37,0.47,0.10,0.47,Matches,2021,Leicester City
17,Wout Faes,be BEL,DF,24-171,1,1,90.0,1.0,0.0,0.0,...,0.1,0.1,0.00,0.08,0.08,0.00,0.08,Matches,2021,Leicester City
18,Dennis Praet,be BEL,"FW,MF",28-130,2,1,82.0,0.9,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches,2021,Leicester City
19,Marc Albrighton,eng ENG,"DF,FW",32-307,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,2021,Leicester City
20,Lewis Brunt,eng ENG,DF,21-319,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,2021,Leicester City
21,Daniel Iversen,dk DEN,GK,25-064,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,2021,Leicester City
22,Nampalys Mendy,sn SEN,MF,30-090,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,2021,Leicester City
23,Çağlar Söyüncü,tr TUR,DF,26-121,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,2021,Leicester City
24,Squad Total,NaN,NaN,27.1,7,77,630.0,7.0,9.0,7.0,...,5.4,11.7,1.02,0.77,1.79,0.91,1.68,NaN,2021,Leicester City
25,Opponent Total,NaN,NaN,26.2,7,77,630.0,7.0,21.0,16.0,...,7.6,17.6,1.55,1.08,2.63,1.44,2.52,NaN,2021,Leicester City

In [133]:
players_stat = pd.concat(players)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [ ]:
players_stat.columns = [c.lower() for c in players_stat.columns]