In [1]:
#import library
import requests
import pandas as pd
import numpy as np


#import pandas.util.testing as tm

#setting directory where python interpreter looks for code files
#import sys
#sys.path.insert(0, './scripts')

#read in functions from script file
#from code_scripts import data_properties

In [2]:
df_allseasons = pd.read_csv('cleaned_merged_seasons.csv')
df_allseasons.head()

/home/laniolao/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucouré,MID,NaN,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1

In [3]:
df_allseasons.drop(['Unnamed: 0', 'team_x'], axis=1, inplace=True)
df_allseasons.shape

(98402, 36)

In [4]:
df_allseasons.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW'],
      dtype='object')

In [5]:
df_allseasons['name_season'] = df_allseasons['name'] + '_' + df_allseasons['season_x']
df_allseasons.name_season

0           Aaron Cresswell_2016-17
1              Aaron Lennon_2016-17
2              Aaron Ramsey_2016-17
3        Abdoulaye Doucouré_2016-17
4              Adam Forshaw_2016-17
                    ...
98397         Wilfred Ndidi_2021-22
98398          Matt Ritchie_2021-22
98399        Nathan Redmond_2021-22
98400           Mathew Ryan_2021-22
98401       Ryan Fredericks_2021-22
Name: name_season, Length: 98402, dtype: object

In [6]:
# get yearly historic data from endpoint for available seasons and identify the keys in each disctionary using 2016 as an example
Y2016= requests.get('https://www.fantasynutmeg.com/api/history/season/2016-17').json()
Y2017= requests.get('https://www.fantasynutmeg.com/api/history/season/2017-18').json()
Y2018= requests.get('https://www.fantasynutmeg.com/api/history/season/2018-19').json()
Y2019= requests.get('https://www.fantasynutmeg.com/api/history/season/2019-20').json()
Y2020= requests.get('https://www.fantasynutmeg.com/api/history/season/2020-21').json()
Y2021= requests.get('https://www.fantasynutmeg.com/api/history/season/2021-22').json()
Y2022= requests.get('https://www.fantasynutmeg.com/api/history/season/2022-23').json()
Y2016.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [7]:
hist16_df = pd.DataFrame(Y2016['history'])
hist17_df = pd.DataFrame(Y2017['history'])
hist18_df = pd.DataFrame(Y2018['history'])
hist19_df = pd.DataFrame(Y2019['history'])
hist20_df = pd.DataFrame(Y2020['history'])
hist21_df = pd.DataFrame(Y2021['history'])

In [8]:
hist16_df['year'] = hist16_df.apply(lambda x: "2016-17", axis=1)
hist17_df['year'] = hist17_df.apply(lambda x: "2017-18", axis=1)
hist18_df['year'] = hist18_df.apply(lambda x: "2018-19", axis=1)
hist19_df['year'] = hist19_df.apply(lambda x: "2019-20", axis=1)
hist20_df['year'] = hist20_df.apply(lambda x: "2020-21", axis=1)
hist21_df['year'] = hist21_df.apply(lambda x: "2021-22", axis=1)

In [9]:
hist_df = [hist16_df, hist17_df, hist18_df, hist19_df, hist20_df, hist21_df]

hist = pd.concat(hist_df, axis = 0, ignore_index=True)

hist.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,influence_rank,influence_rank_type,threat_rank,threat_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,0,0,18,100,100,0,48844,0,0,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2,660,100,100,12,11334,0,0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,19,723,0,75,10,51507,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,5,100,100,0,17127,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2,296,75,100,5,158074,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
hist['form'] = hist['total_points']/38    # Number of gameweeks
hist['ROI'] = hist['total_points'] / hist['now_cost']
hist.ROI

0        0.425532
1       24.814815
2       19.836066
3        0.208333
4        9.375000
          ...
4065     0.000000
4066     0.000000
4067     0.000000
4068     0.000000
4069     0.000000
Name: ROI, Length: 4070, dtype: float64

In [11]:

hist['name_season'] = hist['first_name'] + ' ' + hist['second_name'] + '_' + hist['year']

In [12]:
teams=dict(zip(hist.name_season, hist.team_name))

df_allseasons['club_name'] = df_allseasons['name_season'].map(teams)

In [13]:
teams=dict(zip(hist.name_season, hist.form))

df_allseasons['form'] = df_allseasons['name_season'].map(teams)
df_allseasons.form.head()

0    1.578947
1    0.578947
2    1.473684
3    1.000000
4    2.026316
Name: form, dtype: float64

In [14]:
df_allseasons.dropna(how='all')

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form
0,2016-17,Aaron Cresswell,DEF,0,0,0,0,0.0,454,10,...,0,0,0,55,False,0,1,Aaron Cresswell_2016-17,WHU,1.578947
1,2016-17,Aaron Lennon,MID,0,0,6,0,0.3,142,3,...,0,0,0,60,True,0,1,Aaron Lennon_2016-17,EVE,0.578947
2,2016-17,Aaron Ramsey,MID,0,0,5,0,4.9,16,8,...,0,0,0,80,True,0,1,Aaron Ramsey_2016-17,ARS,1.473684
3,2016-17,Abdoulaye Doucouré,MID,0,0,0,0,0.0,482,7,...,0,0,0,50,False,0,1,Abdoulaye Doucouré_2016-17,WAT,1.000000
4,2016-17,Adam Forshaw,MID,0,0,3,0,1.3,286,6,...,0,0,0,45,True,1,1,Adam Forshaw_2016-17,MID,2.026316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98397,2021-22,Wilfred Ndidi,MID,0,0,0,0,0.0,216,377,...,-202,22,224,48,True,0,38,Wilfred Ndidi_2021-22,LEI,1.078947
98398,2021-22,Matt Ritchie,DEF,0,0,3,0,0.0,292,374,...,143,396,253,49,False,0,38,Matt Ritchie_2021-22,NEW,0.526316
98399,2021-22,Nathan Redmond,MID,0,0,5,0,0.0,336,377,...,455,683,228,59,False,0,38,Nathan Redmond_2021-22,SOU,2.078947
98400,2021-22,Mathew Ryan,GK,0,0,0,0,0.0,65,373,...,-2,0,2,45,True,0,38,Mathew Ryan_2021-22,BHA,0.000000
98401,2021-22,Ryan Fredericks,DEF,0,0,0,0,0.0,415,373,...,36,103,67,44,False,0,38,Ryan Fredericks_2021-22,WHU,0.184211

In [15]:
df_allseasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98402 entries, 0 to 98401
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_x           98402 non-null  object
 1   name               98402 non-null  object
 2   position           98402 non-null  object
 3   assists            98402 non-null  int64
 4   bonus              98402 non-null  int64
 5   bps                98402 non-null  int64
 6   clean_sheets       98402 non-null  int64
 7   creativity         98402 non-null  float64
 8   element            98402 non-null  int64
 9   fixture            98402 non-null  int64
 10  goals_conceded     98402 non-null  int64
 11  goals_scored       98402 non-null  int64
 12  ict_index          98402 non-null  float64
 13  influence          98402 non-null  float64
 14  kickoff_time       98402 non-null  object
 15  minutes            98402 non-null  int64
 16  opponent_team      98402 non-null  int64
 17  opp_team_name      98402 non-null  object
 18  own_goals          98402 non-null  int64
 19  penalties_missed   98402 non-null  int64
 20  penalties_saved    98402 non-null  int64
 21  red_cards          98402 non-null  int64
 22  round              98402 non-null  int64
 23  saves              98402 non-null  int64
 24  selected           98402 non-null  int64
 25  team_a_score       98353 non-null  float64
 26  team_h_score       98353 non-null  float64
 27  threat             98402 non-null  float64
 28  total_points       98402 non-null  int64
 29  transfers_balance  98402 non-null  int64
 30  transfers_in       98402 non-null  int64
 31  transfers_out      98402 non-null  int64
 32  value              98402 non-null  int64
 33  was_home           98402 non-null  bool
 34  yellow_cards       98402 non-null  int64
 35  GW                 98402 non-null  int64
 36  name_season        98402 non-null  object
 37  club_name          98364 non-null  object
 38  form               98364 non-null  float64
dtypes: bool(1), float64(7), int64(24), object(7)
memory usage: 28.6+ MB

In [16]:
nan_rows  =df_allseasons.loc[df_allseasons.isna().any(axis=1)]
nan_rows.name.nunique()

50

In [17]:
nan_rows.name.shape

(87,)

In [18]:
nan_rows[['kickoff_time', 'name_season', 'club_name', 'team_a_score', 'team_h_score', 'was_home', 'opp_team_name', 'GW']]

,kickoff_time,name_season,club_name,team_a_score,team_h_score,was_home,opp_team_name,GW
8181,2017-08-13T15:00:00Z,David de Gea_2017-18,NaN,0.0,4.0,True,West Ham,1
8440,2017-10-28T11:30:00Z,David de Gea_2017-18,NaN,0.0,1.0,True,Spurs,10
8712,2017-11-05T16:30:00Z,David de Gea_2017-18,NaN,0.0,1.0,False,Chelsea,11
8985,2017-11-18T17:30:00Z,David de Gea_2017-18,NaN,1.0,4.0,True,Newcastle,12
9259,2017-11-25T15:00:00Z,David de Gea_2017-18,NaN,0.0,1.0,True,Brighton,13
...,...,...,...,...,...,...,...,...
44866,2020-03-11T19:30:00Z,Matteo Guendouzi_2019-20,ARS,NaN,NaN,False,Man City,29
44870,2020-03-11T19:30:00Z,Bernardo Mota Veiga de Carvalho e Silva_2019-20,MCI,NaN,NaN,True,Arsenal,29
44872,2020-03-11T19:30:00Z,Oleksandr Zinchenko_2019-20,MCI,NaN,NaN,True,Arsenal,29
44902,2020-03-11T19:30:00Z,Lucas Torreira_2019-20,ARS,NaN,NaN,False,Man City,29
44917,2020-03-11T19:30:00Z,Héctor Bellerín_2019-20,ARS,NaN,NaN,False,Man City,29

In [19]:
#To review rows with Nan
x = nan_rows[nan_rows.name == 'David de Gea']
x.shape
#x [['name_season', 'club_name', 'team_a_score', 'team_h_score']]

(38, 39)

In [20]:
#To review rows with Nan
from cmath import nan


x = nan_rows[(nan_rows.club_name == 'ARS') & (nan_rows.club_name == 'MCI') & (nan_rows.kickoff_time == '2020-03-11T19:30:00Z')]
x.shape
#x [['name_season', 'club_name', 'team_a_score', 'team_h_score']]

(0, 39)

Take following actions below:

#
1. David de Gea club needs to be updated to MUN. 38 rows
2. David De Gea was United's third best player of the season. I assigned 4.0 form below Lukaku
3. Man City vs Arsenal fixture on 11-March 2020 was postponed hence team_a_score and team_h_score are null values. drop data.

In [21]:
#Update active players with missing club name (players with played minutes in gameweek)
df_allseasons.loc[df_allseasons.name == 'David de Gea', 'club_name'] = 'MUN'
df_allseasons.loc[df_allseasons.name == 'David de Gea', 'form'] = 4.0000

In [22]:
#drop the remaining files
df_allseasons.dropna(inplace=True)

In [23]:
#Update the club names from abbreviations to full names
df_allseasons["club_name"].replace({"WHU": "West Ham", "EVE": "Everton", "ARS": "Arsenal", "WAT": "Watford", "MID": "Middlesbrough",
"LIV": "Liverpool", "SOU": "Southampton", "MUN": "Man Utd", "HUL": "Hull", "BUR": "Burnley", "CRY": "Crystal Palace", "TOT": "Spurs",
"LEI": "Leicester", "WBA": "West Brom", "CHE": "Chelsea", "BOU": "Bournemouth", "STK": "Stoke",
"MCI": "Man City", "SWA": "Swansea", "SUN": "Sunderland", "HUD": "Huddersfield", "BHA": "Brighton",
"NEW": "Newcastle", "FUL": "Fulham", "WOL": "Wolves", "CAR": "Cardiff", "AVL": "Aston Villa",
"NOR": "Norwich", "SHU": "Sheffield Utd", "LEE": "Leeds", "BRE": "Brentford"}, inplace=True)
df_allseasons.club_name

0             West Ham
1              Everton
2              Arsenal
3              Watford
4        Middlesbrough
             ...
98397        Leicester
98398        Newcastle
98399      Southampton
98400         Brighton
98401         West Ham
Name: club_name, Length: 98353, dtype: object

In [24]:
df_allseasons.sort_values(by='total_points', ascending=False).head()

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form
14877,2017-18,Mohamed Salah,MID,1,3,93,1,38.1,234,305,...,62759,65753,2994,106,True,0,31,Mohamed Salah_2017-18,Liverpool,7.973684
47828,2019-20,Michail Antonio,FWD,0,3,79,1,33.3,389,346,...,29263,34921,5658,69,False,0,44,Michail Antonio_2019-20,West Ham,2.921053
78739,2021-22,Mohamed Salah,MID,1,3,76,1,33.3,233,88,...,247160,269688,22528,128,False,0,9,Mohamed Salah_2021-22,Liverpool,6.973684
95594,2021-22,Gabriel Fernando de Jesus,FWD,1,3,128,0,36.3,263,339,...,15151,22267,7116,84,True,0,34,Gabriel Fernando de Jesus_2021-22,Man City,3.157895
6448,2016-17,Harry Kane,FWD,1,3,114,0,29.2,403,336,...,13869,50546,36677,117,False,0,37,Harry Kane_2016-17,Spurs,5.894737

Current Season Data Ingestion and Processing

In [25]:
#base url for FPL API endpoints for current season data
fpl_base_url = 'https://fantasy.premierleague.com/api/'

In [26]:
# get data from bootstrap-static endpoint
r= requests.get(fpl_base_url+'bootstrap-static/')
json = r.json()

In [27]:
#show the keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [28]:
#- Contains summary of Gameweek data
events_df = pd.DataFrame(json['events']) 
# phases_df = pd.DataFrame(json['phases']) - Shows calendar months for game weeks
teams_df = pd.DataFrame(json['teams'])
players_df = pd.DataFrame(json['elements'])
element_stats_df = pd.DataFrame(json['element_stats'])
element_types_df = pd.DataFrame(json['element_types'])

In [29]:
events_df.head(2)

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2022-08-05T17:30:00Z,57,True,True,7309963.0,1659720600,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 170273}...",28.0,105.0,366.0,"{'id': 366, 'points': 15}",0,283.0,318.0
1,2,Gameweek 2,2022-08-13T10:00:00Z,57,True,True,3977474.0,1660384800,0,139.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 136909}...",28.0,318.0,28.0,"{'id': 28, 'points': 19}",12847501,318.0,283.0

In [30]:
players_df.shape

(624, 67)

In [39]:
players_df[['id', 'first_name', 'team']].head(10)

   id first_name  team
0   1     Cédric     1
1   3     Granit     1
2   4    Mohamed     1
3   5        Rob     1
4   6     Thomas     1
5   7     Martin     1
6   8     Kieran     1
7   9    Nicolas     1
8  10   Benjamin     1
9  11      Eddie     1

#Code to extract weekly game data for all active players in current season
for x in players_df.index :
    print(x)
    player_id = players_df.id[x]
    url = f'https://fantasy.premierleague.com/api/element-summary/{player_id}/'
    r = requests.get(url)
    json = r.json()
    json_history_df = pd.DataFrame(json['history'])
       
    if x == 0 :
        all_history_df = json_history_df
    else : 
        all_history_df = all_history_df.append(json_history_df)

In [33]:
all_history_df.shape #Test Data

(3579, 31)

In [40]:
#Code to save the all players game week data in current season to csv
all_history_df.to_csv('/home/laniolao/boye_fpl/current_season.csv')

In [36]:
all_history_df.columns

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out'],
      dtype='object')

In [48]:
all_history_df['element'].describe() #same as 'id' in players_df for mapping

count    3579.000000
mean      298.993294
std       172.640918
min         1.000000
25%       150.000000
50%       299.000000
75%       448.000000
max       624.000000
Name: element, dtype: float64

In [37]:
df_allseasons.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW', 'name_season', 'club_name', 'form'],
      dtype='object')

In [31]:
#Define URL to get fixtures
fix = fpl_base_url+'fixtures/'

#Request hosting server to fetch url

data = requests.get(fix)
fixtures_df = pd.DataFrame(data.json())
fixtures_df.head(2)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914

In [32]:
fixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   380 non-null    int64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   id                      380 non-null    int64
 5   kickoff_time            380 non-null    object
 6   minutes                 380 non-null    int64
 7   provisional_start_time  380 non-null    bool
 8   started                 380 non-null    bool
 9   team_a                  380 non-null    int64
 10  team_a_score            60 non-null     float64
 11  team_h                  380 non-null    int64
 12  team_h_score            60 non-null     float64
 13  stats                   380 non-null    object
 14  team_h_difficulty       380 non-null    int64
 15  team_a_difficulty       380 non-null    int64
 16  pulse_id                380 non-null    int64
dtypes: bool(4), float64(2), int64(9), object(2)
memory usage: 40.2+ KB

In [33]:
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [34]:
teams_df.short_name.values

array(['ARS', 'AVL', 'BOU', 'BRE', 'BHA', 'CHE', 'CRY', 'EVE', 'FUL',
       'LEI', 'LEE', 'LIV', 'MCI', 'MUN', 'NEW', 'NFO', 'SOU', 'TOT',
       'WHU', 'WOL'], dtype=object)

In [35]:
element_types_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],62
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],223
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],270
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],69

In [36]:
#Map the team names and the player positions into the players_df dataframe
teams_now=dict(zip(teams_df.id, teams_df.short_name))
positions=dict(zip(element_types_df.id, element_types_df.singular_name_short))
players_df['club_name'] = players_df['team'].map(teams_now)
players_df['position'] = players_df['element_type'].map(positions)

In [37]:
#Update the club names from abbreviations to full names
players_df["club_name"].replace({'ARS': 'Arsenal', 'AVL': 'Aston Villa', 'BOU': 'Bournemouth', 'BRE': 'Brentford', 'BHA': 'Brighton', 'CHE': 'Chelsea', 'CRY': 'Crystal Palace', 'EVE': 'Everton', 'FUL': 'Fulham',
       'LEI': 'Leicester', 'LEE': 'Leeds', 'LIV': 'Liverpool', 'MCI': 'Man City', 'MUN': 'Man Utd', 'NEW': 'Newcastle', 'NFO': 'Nottingham Forest', 'SOU': 'Southampton', 'TOT': 'Spurs',
       'WHU': 'West Ham', 'WOL': 'Wolves'}, inplace=True)
players_df.club_name

0      Arsenal
1      Arsenal
2      Arsenal
3      Arsenal
4      Arsenal
        ...
619     Wolves
620     Wolves
621     Wolves
622     Wolves
623     Wolves
Name: club_name, Length: 624, dtype: object

In [42]:
players_df[['first_name', 'second_name', 'club_name', 'minutes', 'form',  'bonus', 'bps',
       'total_points', 'value_season', 'value_form' ]].head()

,first_name,second_name,club_name,minutes,form,bonus,bps,total_points,value_season,value_form
0,Cédric,Alves Soares,Arsenal,0,0.0,0,0,0,0.0,0.0
1,Granit,Xhaka,Arsenal,537,4.8,2,113,26,5.2,1.0
2,Mohamed,Elneny,Arsenal,90,0.4,0,15,2,0.5,0.1
3,Rob,Holding,Arsenal,3,0.4,0,8,2,0.5,0.1
4,Thomas,Partey,Arsenal,270,1.0,0,39,8,1.7,0.2

In [43]:
#Data Cleaning
players_df.chance_of_playing_next_round = players_df.chance_of_playing_next_round.fillna(100.0)
players_df.chance_of_playing_this_round = players_df.chance_of_playing_this_round.fillna(100.0)
players_df.drop(['id', 'squad_number'], axis=1, inplace=True)
fixtures_df.team_a_score = fixtures_df.team_a_score.fillna(0)
fixtures_df.team_h_score = fixtures_df.team_h_score.fillna(0)
fixtures_df.drop(['stats', 'id'], axis=1, inplace=True)
fixtures_df['kickoff_time'] = fixtures_df['kickoff_time'].str[:-10]
fixtures_df['kickoff_time'] = pd.to_datetime(fixtures_df['kickoff_time'])

In [44]:
#Feature Engineering for ROI
players_df['ROI'] = players_df['total_points'] / (players_df['now_cost']/10)
players_df.ROI.describe()

count    624.000000
mean       1.439025
std        1.717038
min       -0.232558
25%        0.000000
50%        0.618622
75%        2.666667
max        7.058824
Name: ROI, dtype: float64

In [45]:
players_df[['first_name', 'second_name', 'club_name', 'minutes', 'form',  'bonus',
       'value_season', 'value_form', 'total_points', 'now_cost', 'ROI' ]].sort_values(by='total_points', ascending=False).head(10)

,first_name,second_name,club_name,minutes,form,bonus,value_season,value_form,total_points,now_cost,ROI
393,Erling,Haaland,Man City,481,10.8,12,5.6,0.9,67,120,5.583333
91,Ivan,Toney,Brentford,540,7.4,8,6.2,1.0,45,72,6.250000
123,Pascal,Groß,Brighton,540,5.4,6,7.0,0.9,42,60,7.000000
538,Harry,Kane,Spurs,527,7.6,9,3.5,0.7,40,114,3.508772
415,Marcus,Rashford,Man Utd,520,7.6,6,6.2,1.2,40,65,6.153846
132,Alexis,Mac Allister,Brighton,540,7.8,9,7.0,1.4,39,56,6.964286
259,Aleksandar,Mitrović,Fulham,540,5.2,7,5.7,0.8,39,68,5.735294
351,Mohamed,Salah,Liverpool,540,5.2,5,2.9,0.4,38,130,2.923077
314,Rodrigo,Moreno,Leeds,357,6.2,5,6.0,1.0,38,63,6.031746
464,Nick,Pope,Newcastle,540,6.0,6,7.1,1.2,36,51,7.058824

In [46]:
players_df[['first_name', 'second_name', 'club_name', 'minutes', 'form',  'bonus',
       'value_season', 'value_form', 'total_points', 'now_cost', 'ROI' ]].sort_values(by='ROI', ascending=False).head(10)

,first_name,second_name,club_name,minutes,form,bonus,value_season,value_form,total_points,now_cost,ROI
464,Nick,Pope,Newcastle,540,6.0,6,7.1,1.2,36,51,7.058824
599,José,Malheiro de Sá,Wolves,540,6.6,3,7.0,1.3,35,50,7.000000
123,Pascal,Groß,Brighton,540,5.4,6,7.0,0.9,42,60,7.000000
132,Alexis,Mac Allister,Brighton,540,7.8,9,7.0,1.4,39,56,6.964286
489,Dean,Henderson,Nottingham Forest,540,5.6,5,6.6,1.2,31,47,6.595745
91,Ivan,Toney,Brentford,540,7.4,8,6.2,1.0,45,72,6.250000
615,Nathan,Collins,Wolves,540,5.4,6,6.2,1.2,28,45,6.222222
415,Marcus,Rashford,Man Utd,520,7.6,6,6.2,1.2,40,65,6.153846
23,William,Saliba,Arsenal,540,4.2,6,6.0,0.9,29,48,6.041667
314,Rodrigo,Moreno,Leeds,357,6.2,5,6.0,1.0,38,63,6.031746

In [47]:
fixtures_df.columns

Index(['code', 'event', 'finished', 'finished_provisional', 'kickoff_time',
       'minutes', 'provisional_start_time', 'started', 'team_a',
       'team_a_score', 'team_h', 'team_h_score', 'team_h_difficulty',
       'team_a_difficulty', 'pulse_id'],
      dtype='object')

In [48]:
fixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   380 non-null    int64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   kickoff_time            380 non-null    datetime64[ns]
 5   minutes                 380 non-null    int64
 6   provisional_start_time  380 non-null    bool
 7   started                 380 non-null    bool
 8   team_a                  380 non-null    int64
 9   team_a_score            380 non-null    float64
 10  team_h                  380 non-null    int64
 11  team_h_score            380 non-null    float64
 12  team_h_difficulty       380 non-null    int64
 13  team_a_difficulty       380 non-null    int64
 14  pulse_id                380 non-null    int64
dtypes: bool(4), datetime64[ns](1), float64(2), int64(8)
memory usage: 34.3 KB

In [49]:
fixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,2022-08-05,90,False,True,1,2.0,7,0.0,3,2,74911
1,2292813,1,True,True,2022-08-06,90,False,True,12,2.0,9,2.0,5,2,74914
2,2292811,1,True,True,2022-08-06,90,False,True,2,0.0,3,2.0,2,2,74912
3,2292814,1,True,True,2022-08-06,90,False,True,20,1.0,11,2.0,2,2,74915
4,2292816,1,True,True,2022-08-06,90,False,True,16,0.0,15,2.0,2,3,74917

In [50]:
#Create Next Game week fixtures
#GW3fixtures_df = fixtures_df.loc[(fixtures_df['kickoff_time'] >= "2022-08-27") & (fixtures_df['kickoff_time'] <= "2022-08-28")].copy()
#GW3fixtures_df.head()

In [51]:
#Create Next Game week fixtures
GWfixtures_df = fixtures_df.loc[(fixtures_df['event'] == 7)].copy()
GWfixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
60,2292873,7,False,False,2022-09-10,0,False,False,6,0.0,9,0.0,4,2,74974
61,2292870,7,False,False,2022-09-10,0,False,False,5,0.0,3,0.0,2,2,74972
62,2292875,7,False,False,2022-09-10,0,False,False,2,0.0,10,0.0,2,4,74976
63,2292876,7,False,False,2022-09-10,0,False,False,20,0.0,12,0.0,2,5,74977
64,2292878,7,False,False,2022-09-10,0,False,False,4,0.0,17,0.0,2,2,74979

In [52]:
GWfixtures_df.shape

(10, 15)

In [53]:
#Mapping away and home team and respective strengths
home_strength= dict(zip(teams_df.id, teams_df.strength_overall_home))
away_strength= dict(zip(teams_df.id, teams_df.strength_overall_away))
GWfixtures_df['away_team'] = GWfixtures_df['team_a'].map(teams_now)
GWfixtures_df['home_team'] = GWfixtures_df['team_h'].map(teams_now)
GWfixtures_df['away_team_strength'] = GWfixtures_df['team_a'].map(away_strength)
GWfixtures_df['home_team_strength'] = GWfixtures_df['team_h'].map(home_strength)
GWfixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength
60,2292873,7,False,False,2022-09-10,0,False,False,6,0.0,9,0.0,4,2,74974,CHE,FUL,1280,1040
61,2292870,7,False,False,2022-09-10,0,False,False,5,0.0,3,0.0,2,2,74972,BHA,BOU,1090,1050
62,2292875,7,False,False,2022-09-10,0,False,False,2,0.0,10,0.0,2,4,74976,AVL,LEI,1100,1110
63,2292876,7,False,False,2022-09-10,0,False,False,20,0.0,12,0.0,2,5,74977,WOL,LIV,1100,1350
64,2292878,7,False,False,2022-09-10,0,False,False,4,0.0,17,0.0,2,2,74979,BRE,SOU,1100,1060

In [54]:
GWfixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 60 to 69
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    10 non-null     int64
 1   event                   10 non-null     int64
 2   finished                10 non-null     bool
 3   finished_provisional    10 non-null     bool
 4   kickoff_time            10 non-null     datetime64[ns]
 5   minutes                 10 non-null     int64
 6   provisional_start_time  10 non-null     bool
 7   started                 10 non-null     bool
 8   team_a                  10 non-null     int64
 9   team_a_score            10 non-null     float64
 10  team_h                  10 non-null     int64
 11  team_h_score            10 non-null     float64
 12  team_h_difficulty       10 non-null     int64
 13  team_a_difficulty       10 non-null     int64
 14  pulse_id                10 non-null     int64
 15  away_team               10 non-null     object
 16  home_team               10 non-null     object
 17  away_team_strength      10 non-null     int64
 18  home_team_strength      10 non-null     int64
dtypes: bool(4), datetime64[ns](1), float64(2), int64(10), object(2)
memory usage: 1.3+ KB

In [55]:
gw_away_players = pd.merge(players_df, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_a"])
gw_away_players['player_opp'] = gw_away_players['web_name'].map(str) + '-' + gw_away_players['home_team'].map(str)
gw_home_players = pd.merge(players_df, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_h"])
gw_home_players['player_opp'] = gw_home_players['web_name'].map(str) + '-' + gw_home_players['away_team'].map(str)
gw_away_players['diff'] = gw_away_players['away_team_strength'] - gw_away_players['home_team_strength']
gw_home_players['diff'] = gw_home_players['home_team_strength'] - gw_home_players['away_team_strength']
players_df = gw_away_players.append(gw_home_players)
players_df['player_club'] = players_df['web_name'].map(str) + '-' + players_df['club_name'].map(str)

In [56]:
players_df[['first_name', 'second_name', 'web_name', 'club_name', 'player_club','position', 'form', 'diff', 'away_team', 'home_team', 'player_club', 'player_opp' ]].head()

,first_name,second_name,web_name,club_name,player_club,position,form,diff,away_team,home_team,player_club,player_opp
0,Philippe,Coutinho Correia,Coutinho,Aston Villa,Coutinho-Aston Villa,MID,1.2,-10,AVL,LEI,Coutinho-Aston Villa,Coutinho-LEI
1,Danny,Ings,Ings,Aston Villa,Ings-Aston Villa,FWD,2.0,-10,AVL,LEI,Ings-Aston Villa,Ings-LEI
2,Emiliano,Martínez Romero,Martínez,Aston Villa,Martínez-Aston Villa,GKP,4.2,-10,AVL,LEI,Martínez-Aston Villa,Martínez-LEI
3,Calum,Chambers,Chambers,Aston Villa,Chambers-Aston Villa,DEF,0.6,-10,AVL,LEI,Chambers-Aston Villa,Chambers-LEI
4,Lucas,Digne,Digne,Aston Villa,Digne-Aston Villa,DEF,0.8,-10,AVL,LEI,Digne-Aston Villa,Digne-LEI

In [57]:
#My team
my_team = ['Ederson-Man City', 'Alexander-Arnold-Liverpool', 'Salah-Liverpool', 'Walker-Man City', 'Haaland-Man City', 'James-Chelsea', 'Schär-Newcastle', 'Archer-Aston Villa', 'Groß-Brighton', 'Saka-Arsenal', 'Martinelli-Arsenal', 'Jesus-Arsenal', 'Meslier-Leeds', 'Milivojevic-Crystal Palace', 'Dunk-Brighton']
my_players_df = players_df.loc[players_df.player_club.isin(my_team)].copy()

In [58]:
bank = 6
my_team = ['Ederson-Man City', 'Alexander-Arnold-Liverpool', 'Salah-LIV', 'Walker-Man City', 'Haaland-Man City', 'James-Chelsea', 'Schär-Newcastle', 'Archer-Aston Villa', 'Groß-Brighton', 'Saka-Arsenal', 'Martinelli-Arsenal', 'Jesus-Arsenal', 'Meslier-Leeds', 'Milivojevic-Crystal Palace', 'Dunk-Brighton']
potential_players = players_df.loc[~players_df.player_club.isin(my_team)].copy()

In [59]:
potential_players.shape

(610, 90)

In [60]:
my_players_df[['web_name', 'club_name', 'position', 'form', 'now_cost', 'ROI', 'away_team', 'home_team', 'chance_of_playing_this_round']].head(20)

,web_name,club_name,position,form,now_cost,ROI,away_team,home_team,chance_of_playing_this_round
24,Archer,Aston Villa,FWD,0.2,44,0.454545,AVL,LEI,100.0
66,Groß,Brighton,MID,5.4,60,7.000000,BHA,BOU,100.0
67,Dunk,Brighton,DEF,4.0,46,4.782609,BHA,BOU,100.0
114,James,Chelsea,DEF,3.2,60,3.833333,CHE,FUL,100.0
207,Schär,Newcastle,DEF,2.4,47,5.744681,NEW,WHU,100.0
11,Saka,Arsenal,MID,4.4,78,3.589744,EVE,ARS,100.0
17,Martinelli,Arsenal,MID,5.6,65,5.538462,EVE,ARS,100.0
25,Jesus,Arsenal,FWD,6.2,81,4.074074,EVE,ARS,100.0
63,Milivojevic,Crystal Palace,MID,0.6,44,0.909091,MUN,CRY,100.0
167,Meslier,Leeds,GKP,2.8,45,3.777778,NFO,LEE,100.0
192,Salah,Liverpool,MID,5.2,130,2.923077,WOL,LIV,100.0
194,Alexander-Arnold,Liverpool,DEF,4.6,75,3.200000,WOL,LIV,100.0
217,Walker,Man City,DEF,3.2,51,4.313725,TOT,MCI,100.0
224,Ederson,Man City,GKP,3.2,55,4.181818,TOT,MCI,100.0
234,Haaland,Man City,FWD,10.8,120,5.583333,TOT,MCI,100.0

In [61]:
#Deciding Players out
def calc_out_weights(players):
    players['weight'] = 100
    players['weight'] -= players['diff']/3
    players['weight'] -= players['form'].astype("float")*10
    players['weight']+= (100 -players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['element_type'] ==1, 'weight'] -=10
    players.loc[players['weight'] <0, 'weight'] =0
    return players.sample(1, weights=players.weight)

In [62]:
player_out= calc_out_weights(my_players_df)
player_out[['web_name', 'element_type']]

   web_name  element_type
24   Archer             4

In [63]:
my_players_df[['web_name', 'club_name', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'ROI', 'form', 'diff', 'away_team', 'home_team']].sort_values(by='weight', ascending=False).head(15)

,web_name,club_name,position,chance_of_playing_this_round,weight,now_cost,ROI,form,diff,away_team,home_team
63,Milivojevic,Crystal Palace,MID,100.0,147.333333,44,0.909091,0.6,-160,MUN,CRY
24,Archer,Aston Villa,FWD,100.0,101.333333,44,0.454545,0.2,-10,AVL,LEI
167,Meslier,Leeds,GKP,100.0,58.666667,45,3.777778,2.8,10,NFO,LEE
207,Schär,Newcastle,DEF,100.0,49.333333,47,5.744681,2.4,80,NEW,WHU
67,Dunk,Brighton,DEF,100.0,46.666667,46,4.782609,4.0,40,BHA,BOU
217,Walker,Man City,DEF,100.0,41.333333,51,4.313725,3.2,80,TOT,MCI
66,Groß,Brighton,MID,100.0,32.666667,60,7.000000,5.4,40,BHA,BOU
224,Ederson,Man City,GKP,100.0,31.333333,55,4.181818,3.2,80,TOT,MCI
11,Saka,Arsenal,MID,100.0,22.666667,78,3.589744,4.4,100,EVE,ARS
17,Martinelli,Arsenal,MID,100.0,10.666667,65,5.538462,5.6,100,EVE,ARS
25,Jesus,Arsenal,FWD,100.0,4.666667,81,4.074074,6.2,100,EVE,ARS
114,James,Chelsea,DEF,100.0,0.000000,60,3.833333,3.2,240,CHE,FUL
192,Salah,Liverpool,MID,100.0,0.000000,130,2.923077,5.2,250,WOL,LIV
194,Alexander-Arnold,Liverpool,DEF,100.0,0.000000,75,3.200000,4.6,250,WOL,LIV
234,Haaland,Man City,FWD,100.0,0.000000,120,5.583333,10.8,80,TOT,MCI

In [64]:
##Deciding players In
#position = player_out.element_type.iat[0]
position = 2
#out_cost = player_out.now_cost.iat[0]
out_cost = 49
budget = bank + out_cost
dups_team = my_players_df.pivot_table(index=['club_name'], aggfunc='size')
invalid_teams = dups_team.loc[dups_team==3].index.tolist()
invalid_teams

['Arsenal', 'Man City']

In [65]:
potential_players=potential_players.loc[~potential_players.club_name.isin(invalid_teams)]
potential_players=potential_players.loc[potential_players.element_type==position]
potential_players = potential_players.loc[potential_players.now_cost<=budget]
potential_players[['web_name', 'element_type','club_name', 'position', 'chance_of_playing_this_round', 'now_cost', 'form', 'diff', 'away_team', 'home_team']].head(11)

,web_name,element_type,club_name,position,chance_of_playing_this_round,now_cost,form,diff,away_team,home_team
3,Chambers,2,Aston Villa,DEF,100.0,44,0.6,-10,AVL,LEI
4,Digne,2,Aston Villa,DEF,100.0,47,0.8,-10,AVL,LEI
9,Hause,2,Aston Villa,DEF,0.0,44,0.0,-10,AVL,LEI
10,Mings,2,Aston Villa,DEF,100.0,43,1.2,-10,AVL,LEI
14,Cash,2,Aston Villa,DEF,100.0,47,1.0,-10,AVL,LEI
15,Konsa,2,Aston Villa,DEF,100.0,44,1.2,-10,AVL,LEI
20,Diego Carlos,2,Aston Villa,DEF,0.0,48,0.4,-10,AVL,LEI
26,Guilbert,2,Aston Villa,DEF,100.0,40,0.0,-10,AVL,LEI
27,Bednarek,2,Aston Villa,DEF,100.0,43,0.2,-10,AVL,LEI
29,Augustinsson,2,Aston Villa,DEF,100.0,43,0.0,-10,AVL,LEI
30,Kesler Hayden,2,Aston Villa,DEF,0.0,40,0.0,-10,AVL,LEI

In [66]:
potential_players.shape

(193, 90)

In [67]:
#Confirm Invalid Teams are not included
potential_players.groupby(['now_cost']).size().sort_values(ascending = False).head(20)

now_cost
45    50
44    43
40    31
43    20
39    12
50     7
49     7
48     6
47     5
55     2
52     2
46     2
42     2
41     2
53     1
51     1
dtype: int64

In [68]:
def calc_in_players_weights(players):
    players['weight'] = 1
    players['weight'] += players['diff']/3
    players['weight'] += players['form'].astype("float")*10
    players['weight'] -= (100 - players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['weight'] <0, 'weight'] =0
    return players

In [69]:
player_in = calc_in_players_weights(potential_players)
player_in[['web_name', 'club_name', 'element_type', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team']]

,web_name,club_name,element_type,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team
3,Chambers,Aston Villa,2,100.0,3.666667,44,0.6,-10,AVL,LEI
4,Digne,Aston Villa,2,100.0,5.666667,47,0.8,-10,AVL,LEI
9,Hause,Aston Villa,2,0.0,0.000000,44,0.0,-10,AVL,LEI
10,Mings,Aston Villa,2,100.0,9.666667,43,1.2,-10,AVL,LEI
14,Cash,Aston Villa,2,100.0,7.666667,47,1.0,-10,AVL,LEI
...,...,...,...,...,...,...,...,...,...,...
292,Johnson,West Ham,2,0.0,0.000000,44,0.8,-80,NEW,WHU
293,Aguerd,West Ham,2,0.0,0.000000,49,0.0,-80,NEW,WHU
297,Emerson,West Ham,2,100.0,0.000000,40,0.4,-80,NEW,WHU
298,Ashby,West Ham,2,100.0,0.000000,40,0.0,-80,NEW,WHU
303,Kehrer,West Ham,2,100.0,0.000000,45,1.5,-80,NEW,WHU

In [70]:
potential_players = player_in.loc[(player_in.weight>0) & (player_in.chance_of_playing_this_round==100)] 
potential_players[['web_name', 'club_name', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team', 'player_opp']].sort_values(by='form', ascending=False).head(40)

,web_name,club_name,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team,player_opp
70,Veltman,Brighton,DEF,100.0,62.333333,46,4.8,40,BHA,BOU,Veltman-BOU
198,Trippier,Newcastle,DEF,100.0,73.666667,52,4.6,80,NEW,WHU,Trippier-WHU
175,Dalot,Man Utd,DEF,100.0,98.333333,45,4.4,160,MUN,CRY,Dalot-CRY
150,Coady,Everton,DEF,100.0,7.666667,48,4.0,-100,EVE,ARS,Coady-ARS
58,Mee,Brentford,DEF,100.0,52.333333,45,3.8,40,BRE,SOU,Mee-SOU
195,Gomez,Liverpool,DEF,100.0,122.333333,45,3.8,250,WOL,LIV,Gomez-WOL
69,Webster,Brighton,DEF,100.0,52.333333,45,3.8,40,BHA,BOU,Webster-BOU
264,Dier,Spurs,DEF,100.0,10.333333,50,3.6,-80,TOT,MCI,Dier-MCI
182,Malacia,Man Utd,DEF,100.0,90.333333,44,3.6,160,MUN,CRY,Malacia-CRY
266,Davies,Spurs,DEF,100.0,8.333333,50,3.4,-80,TOT,MCI,Davies-MCI
164,Struijk,Leeds,DEF,100.0,38.333333,45,3.4,10,NFO,LEE,Struijk-NFO
162,Varane,Man Utd,DEF,100.0,88.333333,48,3.4,160,MUN,CRY,Varane-CRY
279,Emerson Royal,Spurs,DEF,100.0,8.333333,51,3.4,-80,TOT,MCI,Emerson Royal-MCI
218,Botman,Newcastle,DEF,100.0,59.666667,44,3.2,80,NEW,WHU,Botman-WHU
257,Walker-Peters,Southampton,DEF,100.0,17.666667,45,3.0,-40,BRE,SOU,Walker-Peters-BRE
91,Estupiñán,Brighton,DEF,100.0,44.333333,45,3.0,40,BHA,BOU,Estupiñán-BOU
283,Zouma,West Ham,DEF,100.0,4.333333,45,3.0,-80,NEW,WHU,Zouma-NEW
184,Martínez,Man Utd,DEF,100.0,82.333333,45,2.8,160,MUN,CRY,Martínez-CRY
269,Sánchez,Spurs,DEF,100.0,2.333333,44,2.8,-80,TOT,MCI,Sánchez-MCI
96,Thiago Silva,Chelsea,DEF,100.0,107.000000,55,2.6,240,CHE,FUL,Thiago Silva-FUL
94,Cucurella,Chelsea,DEF,100.0,105.000000,52,2.4,240,CHE,FUL,Cucurella-FUL
221,N.Williams,Nottingham Forest,DEF,100.0,21.666667,41,2.4,-10,NFO,LEE,N.Williams-LEE
199,Burn,Newcastle,DEF,100.0,51.666667,45,2.4,80,NEW,WHU,Burn-WHU
158,Llorente,Leeds,DEF,100.0,28.333333,45,2.4,10,NFO,LEE,Llorente-NFO
39,Henry,Brentford,DEF,100.0,38.333333,45,2.4,40,BRE,SOU,Henry-SOU
160,Koch,Leeds,DEF,100.0,26.333333,45,2.2,10,NFO,LEE,Koch-NFO
249,Toffolo,Nottingham Forest,DEF,100.0,19.666667,45,2.2,-10,NFO,LEE,Toffolo-LEE
44,Kelly,Bournemouth,DEF,100.0,9.666667,45,2.2,-40,BHA,BOU,Kelly-BHA
270,Bella-Kotchap,Southampton,DEF,100.0,9.666667,45,2.2,-40,BRE,SOU,Bella-Kotchap-BRE
264,Perraud,Southampton,DEF,100.0,7.666667,45,2.0,-40,BRE,SOU,Perraud-BRE
201,Tsimikas,Liverpool,DEF,100.0,104.333333,45,2.0,250,WOL,LIV,Tsimikas-WOL
173,Kristensen,Leeds,DEF,100.0,22.333333,49,1.8,10,NFO,LEE,Kristensen-NFO
62,Zanka,Brentford,DEF,100.0,31.333333,40,1.7,40,BRE,SOU,Zanka-SOU
121,Koulibaly,Chelsea,DEF,100.0,97.000000,55,1.6,240,CHE,FUL,Koulibaly-FUL
208,Targett,Newcastle,DEF,100.0,43.666667,49,1.6,80,NEW,WHU,Targett-WHU
32,Jansson,Brentford,DEF,100.0,30.333333,44,1.6,40,BRE,SOU,Jansson-SOU
232,Worrall,Nottingham Forest,DEF,100.0,13.666667,44,1.6,-10,NFO,LEE,Worrall-LEE
55,Hickey,Brentford,DEF,100.0,30.333333,50,1.6,40,BRE,SOU,Hickey-SOU
267,Salisu,Southampton,DEF,100.0,1.666667,44,1.4,-40,BRE,SOU,Salisu-BRE
142,Justin,Leicester,DEF,100.0,18.333333,43,1.4,10,AVL,LEI,Justin-AVL

In [71]:
potential_players.shape

(75, 91)

In [92]:
#Player by random selection
potential_player_alg = potential_players.sample(1, weights=potential_players.weight)
potential_player_alg[['web_name', 'club_name', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team', 'player_opp']].head()

,web_name,club_name,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team,player_opp
200,Lindelöf,MUN,DEF,100.0,64.333333,43,0.0,190,MUN,SOU,Lindelöf-SOU

In [72]:
#Checking Players with Historical Haul
potential_players2 = pd.merge(potential_players, df_allseasons, how="inner", left_on=["player_opp"], right_on=["player-opp"])

KeyError: 'player-opp'

In [94]:
potential_players2[['web_name', 'player_opp', 'club_name_y', 'year']].head()

  web_name   player_opp club_name_y     year
0  Maguire  Maguire-SOU         LEI  2018-19

In [95]:
def calc_starters_weights(players):
    players['weight'] = 1
    players['weight'] += players['diff']/2
    players['weight'] += players['form'].astype("float")*5
    players['weight'] -= (100 - players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['weight'] <0, 'weight'] =0
    return players

In [96]:
starters = calc_starters_weights(my_players_df)
starters[['web_name', 'club_name', 'team', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team']].sort_values(by='weight', ascending=False).head(15)

,web_name,club_name,team,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team
162,Salah,LIV,12,MID,100.0,182.5,130,6.3,300,BOU,LIV
204,Haaland,MCI,13,FWD,100.0,182.0,119,11.2,250,CRY,MCI
164,Alexander-Arnold,LIV,12,DEF,100.0,171.0,75,4.0,300,BOU,LIV
194,Ederson,MCI,13,GKP,100.0,145.0,55,3.8,250,CRY,MCI
187,Walker,MCI,13,DEF,100.0,144.5,51,3.7,250,CRY,MCI
25,Jesus,ARS,1,FWD,100.0,102.0,82,6.2,140,FUL,ARS
17,Martinelli,ARS,1,MID,100.0,99.0,65,5.6,140,FUL,ARS
11,Saka,ARS,1,MID,100.0,93.0,78,4.4,140,FUL,ARS
142,James,CHE,6,DEF,100.0,35.0,60,3.8,30,LEI,CHE
95,Dunk,BHA,5,DEF,100.0,34.5,46,3.7,30,LEE,BHA
35,Milivojevic,CRY,7,MID,100.0,0.0,44,0.6,-250,CRY,MCI
161,Rodrigo,LEE,11,MID,0.0,0.0,64,6.3,-30,LEE,BHA
173,Meslier,LEE,11,GKP,100.0,0.0,45,2.8,-30,LEE,BHA
42,Cash,AVL,2,DEF,100.0,0.0,47,1.0,-80,WHU,AVL
52,Archer,AVL,2,FWD,100.0,0.0,44,0.3,-80,WHU,AVL

In [77]:
#https://fantasy.premierleague.com/api/event/{1}/live/

# get data from bootstrap-static endpoint
data= requests.get(fpl_base_url+'event/{1}/live/').json()
#json = r.json()
#json.keys()

SyntaxError: invalid syntax (<ipython-input-77-0cd0a8203a9b>, line 4)

In [81]:
gw1= requests.get('https://fantasy.premierleague.com/api/event/1/live').json()

In [82]:
gw1.keys()

dict_keys(['elements'])

In [93]:
gw1_df = pd.DataFrame(gw1['elements'])
gw1_df.head(50)

,id,stats,explain
0,1,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
1,2,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 4, 'stats': [{'identifier': 'minu..."
2,3,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
3,4,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
4,5,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
5,6,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
6,7,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
7,8,"{'minutes': 7, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
8,9,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
9,10,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
10,11,"{'minutes': 7, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
11,12,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
12,13,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
13,14,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
14,15,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
15,16,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
16,17,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
17,18,"{'minutes': 1, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
18,19,"{'minutes': 90, 'goals_scored': 1, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
19,20,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
20,21,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
21,22,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
22,23,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
23,24,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
24,25,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
25,26,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
26,27,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
27,28,"{'minutes': 82, 'goals_scored': 0, 'assists': ...","[{'fixture': 1, 'stats': [{'identifier': 'minu..."
28,29,"{'minutes': 81, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
29,30,"{'minutes': 65, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
30,31,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
31,32,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
32,33,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
33,34,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
34,35,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
35,36,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
36,37,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
37,38,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
38,39,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
39,40,"{'minutes': 24, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
40,41,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
41,42,"{'minutes': 45, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
42,43,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
43,44,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
44,45,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
45,46,"{'minutes': 8, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
46,47,"{'minutes': 45, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
47,48,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 3, 'stats': [{'identifier': 'minu..."
48,49,"{'minutes': 0, 'goals_scored': 0, 'assists': 0...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."
49,50,"{'minutes': 90, 'goals_scored': 0, 'assists': ...","[{'fixture': 2, 'stats': [{'identifier': 'minu..."

In [ ]:
def data()

In [92]:
gw1_df.shape

(573, 3)

In [87]:
gw1_1= requests.get('https://fantasy.premierleague.com/api/element-summary/1/').json()

In [88]:
gw1_1.keys()

dict_keys(['fixtures', 'history', 'history_past'])

In [89]:
gw1_1df = pd.DataFrame(gw1_1['history'])
gw1_1df.head()

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,1,1,7,0,False,2022-08-05T19:00:00Z,0,2,1,0,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,11,10,0,True,2022-08-13T14:00:00Z,4,2,2,0,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,1,21,3,0,False,2022-08-20T16:30:00Z,0,3,3,0,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,1,31,9,0,True,2022-08-27T16:30:00Z,2,1,4,0,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,1,41,2,0,True,2022-08-31T18:30:00Z,2,1,5,0,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016

In [91]:
gw1_1df.shape

(6, 31)